{% extends 'base.html' %}
{% load static %}    
    
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}

    {% block content %}  
    </div>
        <div class="w-100 py-5">
            <div class="container-fluid">
                <form action="" class="reset-form w-100">
                    <p class="mb-0">Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
                    <label for="username" class="mt-2">Username or email address</label>
                    <input type="text" class="username-input mt-2" placeholder="Username or email address">
                    <button class="reset-btn mt-3">Reset password</button>
                </form>
            </div>

        </div>

    {% endblock %}
    



   