{% extends 'base.html' %}
{% load static %}    
    
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}

    {% block content %}  
    <div class="w-100 py-5">
        <div class="container-fluid">
            
            <div class="w-100">

                <div class="notice-banner" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false">
                    <path d="M16.7 7.1l-6.3 8.5-3.3-2.5-.9 1.2 4.5 3.4L17.9 8z"></path>
                    </svg>
                    <div class="notice-banner-content">
                    Password reset email has been sent. </div>
                    </div>
                    <p class="mt-3 sent-text">A password reset email has been sent to the email address on file for your account, but may take several minutes to show up in your inbox. Please wait at least 10 minutes before attempting another reset.</p>
            </div>
        </div>

    </div>
    {% endblock %}







