{% extends 'base.html' %}
{% load static %}
{% load i18n %}
  {% block title %}<title>{% trans 'Profilim' %} | STOREGLASSTECH</title>{% endblock %}
      
  {% block style %}
   
  <link rel="stylesheet" href="{% static 'css/account.css' %}">

  {% endblock %}

  {% block content %}
  <div class="mt-5 mb-5 container-fluid account-sec">
  
    <div class="row gutters-sm">
      <div class="col-md-4 d-none d-md-block">
        <div class="card">
          <div class="card-body">
            <nav class="nav flex-column nav-pills nav-gap-y-1">
                <a data-mdb-tab-init
                id="profile"
                href="#profile-tab"
                role="tab"
                aria-controls="profile-tab"
                aria-selected="false"  data-bs-toggle="tab"  class="nav-item nav-link has-icon nav-link-faded active">
                    <i class="fa fa-user"></i> {% trans 'Şəxsi məlumatlarım' %}
                </a>
                <a href="#orders-tab"
                data-mdb-tab-init
                id="orders"
                role="tab"
                aria-controls="orders-tab"
                aria-selected="false" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                  <i class="fas fa-solid fa-box"></i> {% trans 'Sifarişlərim' %}
                </a>
                <a href="#address-tab"
                data-mdb-tab-init
                id="address"
                role="tab"
                aria-controls="address-tab"
                aria-selected="false" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                    <i class="fa fa-map-marker"></i> {% trans 'Ünvan tənzimləmələri' %}
                </a>
             
                <a href="#security-tab" 
                data-mdb-tab-init
                id="security"
                role="tab"
                aria-controls="security-tab"
                aria-selected="false"data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                    <i class="fa fa-lock"></i> {% trans 'Şifrə tənzimləməsi' %}
                </a>
                <a  href="{% url 'account:logout' %}" data-mdb-tab-init class="nav-logout nav-item nav-link has-icon nav-link-faded">
                    <i style="width: 25px; height: 20px;" class="m-0 p-0 fas fa-duotone fa-right-from-bracket"></i> <p class="m-0 p-0">{% trans 'Çıxış' %}</p>
                </a>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header border-bottom mb-3 d-flex d-md-none">
            <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                <li class="nav-item">
                    <a href="#profile-tab" data-mdb-tab-init
                    id="profile"
                    role="tab"
                    aria-controls="profile-tab"
                    aria-selected="false" data-bs-toggle="tab"  class="nav-link has-icon active"><i class="fa fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#orders-tab" data-mdb-tab-init
                    id="orders"
                    role="tab"
                    aria-controls="orders-tab"
                    aria-selected="false" data-bs-toggle="tab" class="nav-link has-icon"><i class="fas fa-solid fa-box"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#address-tab" data-mdb-tab-init
                    id="address"
                    role="tab"
                    aria-controls="address-tab"
                    aria-selected="false" data-bs-toggle="tab" class="nav-link has-icon"><i class="fa fa-map-marker"></i></a>
                </li>
               
                <li class="nav-item">
                  <a href="#security-tab" data-mdb-tab-init
                  id="security"
                  role="tab"
                  aria-controls="security-tab"
                  aria-selected="false" data-bs-toggle="tab"  class="nav-link has-icon"> <i class="fa fa-lock"></i></a>
                </li>

                <li class="nav-item">
                  <a href="{% url 'account:logout' %}" data-mdb-tab-init class="nav-logout nav-link has-icon"><i style="width: 20px;" class="fas fa-duotone fa-right-from-bracket"></i> </a>
                </li>
                
            </ul>
          </div>
          <div class="card-body tab-content">
            <div class="tab-pane active"   class="tab-pane fade show active"
            id="profile-tab"
            role="tabpanel"
            aria-labelledby="profile">
              <h6>{% trans 'ŞƏXSİ MƏLUMATLARIM' %}</h6>
              <hr>
              <form id="updateuserdataform">
                <div class="form-group">
                    <div class="row mb-4">
                        <div class="col-md-6 col-sm-12 ">

                            <label for="fullName" class="mb-2">{% trans 'Ad' %}</label>
                            <input type="text" class="form-control" disabled="" id="userfirstname" value="{{request.user.first_name}}" placeholder="{% trans 'Ad' %}">
                        </div>
                        <div class="col-md-6 col-sm-12">

                            <label for="fullName" class="mb-2">{% trans 'Soyad' %}</label>
                            <input type="text" class="form-control" disabled="" id="userlastname" value="{{ request.user.last_name }}" placeholder="{% trans 'Soyad' %}">
                        </div>
                    </div>
                
                </div>
                <div class="form-group">
                    <div class="row mb-4">
                        <div class="col-md-6 col-sm-12 ">

                            <label for="fullName" class="mb-2">{% trans 'E-mail' %}</label>
                            <input type="text" class="form-control" disabled="" id="useremail" value="{{ request.user.email }}" placeholder="{% trans 'Email' %}">
                        </div>
                        <div class="col-md-6 col-sm-12">

                            <label for="fullName" class="mb-2">{% trans 'Mobil nömrə' %}</label>
                            <input type="text" disabled="" class="form-control" value="{{ request.user.number }}" placeholder="{% trans 'Nömrə' %}">
                        </div>
                    </div>
                
                </div>
                
                <div class="form-group small text-muted mb-4">
                    {% trans 'Burdakı xanaları doldurmağınız sizə daha rahat xidmət göstərməyimizə kömək edəcək. Məcburi deyil və istənilən zaman <b>mobil nömrə</b> xaric bütün xanalarda dəyişiklik edə bilərsiz.' %}
                </div>

                <button type="button" onclick="editModeUserData(this, true)" class="profile-bordered-btn bordered-btn">{% trans 'Düzəliş et' %}</button>

              </form>
            </div>
            <div class="tab-pane" id="orders-tab"  
            role="tabpanel"
            aria-labelledby="orders">
                <h6>{% trans 'SİFARİŞLƏRİM' %}</h6>
                <hr>
                <div class="form-group mb-0">
                  <label class="d-block">{% trans "Sifariş Tarixçəm" %}</label>
                  {% if user_orders.count %}
                  <div class="row">
                    <div style="height: 120px;" class="col-md-12">
                        <div class="product-filters">
                            <ul>
                                <li class="active" data-filter="*">{% trans "Hamısı" %}</li>
                                <li data-filter=".prep">{% trans "Çatdırlmada" %}</li>
                                <li data-filter=".finished">{% trans "Bitmiş" %}</li>
                            </ul>
                        </div>
                    </div>
                  </div>
    
                  <div class="row product-lists">
                    {% for order in user_orders %}
                    <div class="order-card-main mb-3 col-12 {% if order.status == 'Finished' %}finished{% else %}prep{% endif %}">
                      <div class="w-100 order-card">
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="order-icon d-flex align-items-center">{% if order.status == 'Finished' %}<img width="25" height="25" src="{% static 'images/boxopen.png' %}" alt="">{% else %}<img width="25" height="25" src="{% static 'images/boxclose.png' %}" alt="">{% endif %}<span style="margin-left: 10px;" class="fw-bold">NO: {{ order.number }}</span></div>
                          <small class="text-muted">{{order.date}}</small>
                        </div>
                        <hr>
                        {% for item in order.order_items.all %}
                        <div class="p-0 d-flex row w-100 m-0 mt-3">
                          <div class="col-md-8  w-100 d-flex" style="padding-left: 0;">
                            <div class="order-item-img" style="position: relative;">
                              {% if item.product.type == "MDF" %}
                               <a href="/product/{{item.product.get_absolute_url}}"><img width="50"  height="50" src="{{item.product.image.url}}" alt=""></a>
                               {% else %}
                               <a href="/product/{{item.product.get_absolute_url}}">
                                <div class="frame-main">
                                <div class="glass-overlay"><img src="{% static 'images/shadow11.png'%}" alt=""></div>
                                <img class="main-frame-img" src="{{item.product.image.url}}" alt="">
                                </div>
                              </a>
                               {% endif %}
                            </div>
                           
                            <div class="order-name"><a href="/product/{{item.product.get_absolute_url}}"><h4>{{item.product.title}}</h4></a><span type="button" data-toggle="modal" data-target="#{{item.product.slug}}">{% trans 'məhsula rəy ver' %}</span></div>

                            <div class="modal fade" id="{{item.product.slug}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="card-body text-center"> <img src="{% static '/images/users-comments.svg' %}" height="100" width="100">
                                    <div class="comment-box text-center">
                                      <h4>{% trans 'Rəy ver' %}</h4>
                                      <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
                                      <div class="comment-area"> <textarea id="comment" maxlength="149" class="form-control" placeholder="məhsul haqqında fikirləriniz?" rows="4"></textarea> </div>
                                      <div class="text-center mt-4"> <button  data-dismiss="modal" onclick="addComment('{{item.product.id}}')" class="profile-save-btn bordered-btn">{% trans 'Rəy göndər' %} <i class="fa fa-long-arrow-right ml-1"></i></button></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>


                          </div>
                          <div class="col-md-4 order-price-info" style="padding-right: 0;">
                            <div class="row">
                              <div class="col-md-6 d-flex justify-content-end">
                                <span>{{item.quantity}} x {{item.item_actual_price}}  <i style="font-size: 15px;" class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                              </div>
                              <div class="col-md-6 d-flex justify-content-end">
                                <span>{{item.actual_total}} <i style="font-size: 15px;" class="fas fa-xs fa-solid fa-manat-sign"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        {% endfor %}
                        <div class="col-md-12  p-0 mt-3 delivery d-flex align-items-center justify-content-between">
                          
                          <span class="text-dark">{% trans 'Çatdırlma ilə' %}</span>
                        

                          <span class="total-price">
                            {% if order.order_price != order.order_actual_price %}
                              <small><del>{{order.order_price}} <i style="font-size: 12px; text-decoration: line-through;" class="fas fa-xs fa-solid fa-manat-sign"></i></del></small>
                            {% endif %}
                            {{order.order_actual_price}} <i class="fas fa-xs fa-solid fa-manat-sign"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  {% else %}
                  <div class="border border-gray-500 bg-gray-200 p-3 text-center font-size-sm">{% trans 'Heç bir sifarişiniz yoxdur.' %}</div>
                  {% endif %}

                </div>

               
            </div>



            <div class="tab-pane"  id="address-tab"
            role="tabpanel"
            aria-labelledby="address">
              <h6>{% trans 'ÜNVAN TƏNZİMLƏMƏLƏRİ' %}</h6>
              <hr>
              <div class="d-flex justify-content-between">
                  <label class="d-block">{% trans 'Ünvanlarım' %}</label>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#addAddressModal" id="add-address-btn"><i class="fa  fa-plus"></i></button>
              </div>
              <ul id="addresseslist" class="list-group address-list list-group-sm">
                {% if default_address %}
                <li class="mb-4 address-item list-group-item has-icon">
                  <div>
                      <h6 class="mb-0"><i class="fa-solid fa-location-dot"></i> {{default_address.address_line}}</h6>
                      <small class="text-muted">{{default_address.first_name}} {{default_address.last_name}}, {{default_address.region}}, {{default_address.street}}, {{default_address.building}}, {{default_address.flat}}</small>
                  </div>
                  <button class="address-buttons default_address btn btn-light btn-sm ml-auto" type="button"><i class="default_address_check fa-solid fa-circle-check"></i></button>
                  <button onclick="removeAddress('{{default_address.id}}')" class="address-buttons btn address-remove-btn btn-light btn-sm ml-auto" type="button"><i class="fa-regular fa-circle-xmark"></i></button>
                </li>
                {% endif %}
                {% for address in all_addresses %}
                  <li class="mb-4 address-item list-group-item has-icon">
                    <div>
                        <h6 class="mb-0"><i class="fa-solid fa-location-dot"></i> {{address.address_line}}</h6>
                        <small class="text-muted">{{address.first_name}} {{address.last_name}}, {{address.region}}, {{address.street}}, {{address.building}}, {{address.flat}}</small>
                    </div>
                    <button onclick="setDefault('{{address.id}}')" class="address-buttons btn btn-light btn-sm ml-auto" type="button"><i class="fa-regular fa-circle-check"></i></button>
                    <button onclick="removeAddress('{{address.id}}')" class="address-buttons btn address-remove-btn btn-light btn-sm ml-auto" type="button"><i class="fa-regular fa-circle-xmark"></i></button>  
                  </li>
                {% endfor %}
              </ul>
              <!-- address elave etme -->
              <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form id="addnewaddress">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addAddressModalLabel">{% trans 'Yeni ünvan' %}</h5>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-6 mb-3">
                            <label for="" class="mb-2">{% trans 'Ad:' %}</label>
                            <input class="form-control" id="addressfirstname" placeholder="{% trans 'Adınız' %}" value="" type="text">
                          </div>
                          <div class="col-6 mb-3">
                            <label for="" class="mb-2">{% trans 'Soyad:' %}</label>
                            <input class="form-control" id="addresslastname" placeholder="{% trans 'Soyadınız' %}" value="" type="text">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="" class="mb-2">{% trans 'Ünvan Başlığı:' %}</label>
                            <input class="form-control" id="addressline" placeholder="{% trans 'ünvan başlığı yaxınlığında ne var...' %}" type="text">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="" class="mb-2">{% trans 'Rayon:' %}</label>
                            <input class="form-control" id="addressregion" placeholder="{% trans 'rayon' %}" type="text">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="" class="mb-2">{% trans 'Küçə/Məhəllə:' %}</label>
                            <input class="form-control" id="addressstreet" placeholder="{% trans 'küçə' %}" type="text">
                          </div>
                          <div class="col-6 mb-3">
                            <label for="" class="mb-2">{% trans 'Bina/Ev:' %}</label>
                            <input class="form-control" id="addressbuilding" placeholder="{% trans 'bina nömrəsi' %}" type="text">
                          </div>
                          <div class="col-6 mb-3">
                            <label for="" class="mb-2">{% trans 'Mənzil:' %}</label>
                            <input class="form-control" id="addressflat" placeholder="{% trans 'qapı nömrəsi' %}" type="text">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="profile-save-btn bordered-btn">{% trans 'Əlavə et' %}</button>
                        <button type="button" class="profile-bordered-btn bordered-btn" data-bs-dismiss="modal">{% trans 'Ləğv et' %}</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>


            <div class="tab-pane" id="security-tab"  role="tabpanel"
            aria-labelledby="security">
                <h6>{% trans 'ŞİFRƏ TƏNZİMLƏMƏSİ' %}</h6>
                <hr>
                <form id="updatepasswordform">
                  <div class="form-group">
                    <label class="d-block mb-3">{% trans 'Şifrəmi Dəyiş' %}</label>
                    <input type="password" oninput="checkChangePassSaveBtn()" id="oldpass" class="pass form-control mb-3" placeholder="{% trans 'Köhnə şifrə' %}">
                    <input type="password" oninput="checkChangePassSaveBtn()" id="newpass" class="pass form-control mt-1 mb-3" placeholder="{% trans 'Yeni şifrə' %}">
                    <input type="password" oninput="checkChangePassSaveBtn()" id="renewpass" class="pass form-control mt-1 mb-3" placeholder="{% trans 'Yeni şifrəni təsdiq edin' %}">
                    <small id="fullNameHelp" class="form-text text-muted ">{% trans '*Şifrə minimum 6 xanalı olmalıdır!' %}</small>
                    
                  </div>
                  <button type="button" id="changepassbtn" class="mt-2 disabled-chng-pass profile-bordered-btn bordered-btn">{% trans 'Dəyiş' %}</button>

                </form>
             

            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
  <audio style="display:none;"  id="confSound">
    <source src='{% static "order_conf.mp3" %}' type="audio/mpeg">
  </audio>
{% endblock %}

{% block js%}

<script>
  var addCommentAPI = '{% url "productAPI:new-comment" %}'


  var notfWrongEmailMessage = "{% trans 'Email yanlışdır!' %}"
  var notfDatasUpdated = "{% trans 'Məlumatlar yeniləndi!' %}"
  var notfRepPassWrong = "{% trans 'Şifrə təkrarı doğru deyil!' %}"
  var notfOldPassWrong = "{% trans 'Köhnə şifrə yanlışdır!' %}"
  var notfPassUpdated = "{% trans 'Şifrəniz yeniləndi!' %}"
  var notfNewAddressAdded = "{% trans 'Yeni ünvan əlavə edildi!' %}"
  var notfAddressDeleted = "{% trans 'Ünvan silindi!' %}"
  var notfDefAddressChnged = "{% trans 'Daimi ünvan dəyişildi!' %}"
  var notfPassUpdated = "{% trans 'Şifrəniz yeniləndi!' %}"
  var notfPassUpdated = "{% trans 'Şifrəniz yeniləndi!' %}"
  var notfOrderConf = "{% trans 'Sifarişiniz təsdiqləndi!' %}"
  var notfPassUpdated = "{% trans 'Şifrəniz yeniləndi!' %}"
  var notfPassUpdated = "{% trans 'Şifrəniz yeniləndi!' %}"


  var transNoAddress = "{% trans 'Qeyd olunmuş ünvanınız yoxdur' %}"
  var transSave = "{% trans 'Yadda saxla' %}"
  var transCancel = "{% trans 'Ləğv et' %}"
  var transEdit = "{% trans 'Düzəliş et' %}"

  var confSoundPTH = '{% static "order_conf.mp3" %}';

</script>

</script>
<script src="{% static 'js/jquery-isotope.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>

{% endblock %}