{% extends 'base.html' %}
{% load static %}
  {% block style %}
   
  <link rel="stylesheet" href="{% static 'css/account.css' %}">

  {% endblock %}

  {% block content %}
  <div class="mt-5 mb-5 container-fluid account-sec">
  
    <div class="row gutters-sm">
      <div class="col-md-4 d-none d-md-block">
        <div class="card">
          <div class="card-body">
            <nav class="nav flex-column nav-pills nav-gap-y-1">
                <a data-mdb-tab-init
                id="profile"
                href="#profile-tab"
                role="tab"
                aria-controls="profile-tab"
                aria-selected="false"  data-bs-toggle="tab"  class="nav-item nav-link has-icon nav-link-faded active">
                    <i class="fa fa-user"></i> Şəxsi məlumatlarım
                </a>
                <a href="#orders-tab"
                data-mdb-tab-init
                id="orders"
                role="tab"
                aria-controls="orders-tab"
                aria-selected="false" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                    <i class="fa fa-square"></i> Sifarişlərim
                </a>
                <a href="#address-tab"
                data-mdb-tab-init
                id="address"
                role="tab"
                aria-controls="address-tab"
                aria-selected="false" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                    <i class="fa fa-map-marker"></i> Ünvan tənzimləmələri
                </a>
             
                <a href="#security-tab" 
                data-mdb-tab-init
                id="security"
                role="tab"
                aria-controls="security-tab"
                aria-selected="false"data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                    <i class="fa fa-lock"></i> Şifrə tənzimləməsi
                </a>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header border-bottom mb-3 d-flex d-md-none">
            <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                <li class="nav-item">
                    <a href="#profile-tab" data-mdb-tab-init
                    id="profile"
                    role="tab"
                    aria-controls="profile-tab"
                    aria-selected="false" data-bs-toggle="tab"  class="nav-link has-icon active"><i class="fa fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#orders-tab" data-mdb-tab-init
                    id="orders"
                    role="tab"
                    aria-controls="orders-tab"
                    aria-selected="false" data-bs-toggle="tab" class="nav-link has-icon"><i class="fa fa-square"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#address-tab" data-mdb-tab-init
                    id="address"
                    role="tab"
                    aria-controls="address-tab"
                    aria-selected="false" data-bs-toggle="tab" class="nav-link has-icon"><i class="fa fa-map-marker"></i></a>
                </li>
               
                <li class="nav-item">
                  <a href="#security-tab" data-mdb-tab-init
                  id="security"
                  role="tab"
                  aria-controls="security-tab"
                  aria-selected="false" data-bs-toggle="tab"  class="nav-link has-icon"> <i class="fa fa-lock"></i></a>
                </li>
            </ul>
          </div>
          <div class="card-body tab-content">
            <div class="tab-pane active"   class="tab-pane fade show active"
            id="profile-tab"
            role="tabpanel"
            aria-labelledby="profile">
              <h6>ŞƏXSİ MƏLUMATLARIM</h6>
              <hr>
              <form id="updateuserdataform">
                <div class="form-group">
                    <div class="row mb-4">
                        <div class="col-md-6 col-sm-12 ">

                            <label for="fullName" class="mb-2">Ad</label>
                            <input type="text" class="form-control" disabled="" id="userfirstname" value="" placeholder="Ad">
                        </div>
                        <div class="col-md-6 col-sm-12">

                            <label for="fullName" class="mb-2">Soyad</label>
                            <input type="text" class="form-control" disabled="" id="userlastname" value="" placeholder="Soyad">
                        </div>
                    </div>
                
                </div>
                <div class="form-group">
                    <div class="row mb-4">
                        <div class="col-md-6 col-sm-12 ">

                            <label for="fullName" class="mb-2">E-mail</label>
                            <input type="text" class="form-control" disabled="" id="useremail" value="" placeholder="Email">
                        </div>
                        <div class="col-md-6 col-sm-12">

                            <label for="fullName" class="mb-2">Mobil nömrə</label>
                            <input type="text" disabled="" class="form-control" value="+994 51 621 90 83" placeholder="Nömrə">
                        </div>
                    </div>
                
                </div>
                
                <div class="form-group small text-muted mb-4">
                    Burdakı xanaları doldurmağınız sizə daha rahat xidmət göstərməyimizə kömək edəcək. Məcburi deyil və istənilən zaman <b>mobil nömrə</b> xaric bütün xanalarda dəyişiklik edə bilərsiz.
                </div>

                <button type="button" onclick="editModeUserData(this, true)" class="profile-bordered-btn bordered-btn">Düzəliş et</button>

              </form>
            </div>
            <div class="tab-pane" id="orders-tab"  
            role="tabpanel"
            aria-labelledby="orders">
                <h6>SİFARİŞLƏRİM</h6>
                <hr>
            
                <div class="form-group mb-0">
                  <label class="d-block">Sifariş Tarixçəm</label>
                  
                  <div class="border border-gray-500 bg-gray-200 p-3 text-center font-size-sm">Heç bir sifarişiniz yoxdur.</div>
                  

                </div>
                

            </div>
            <div class="tab-pane"  id="address-tab"
            role="tabpanel"
            aria-labelledby="address">
              <h6>ÜNVAN TƏNZİMLƏMƏLƏRİ</h6>
              <hr>
              <div class="d-flex justify-content-between">
                  <label class="d-block">Ünvanlarım</label>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#addAddressModal" id="add-address-btn"><i class="fa  fa-plus"></i></button>
              </div>
              <ul id="addresseslist" class="list-group address-list list-group-sm"><div class="border border-gray-500 bg-gray-200 p-3 text-center font-size-sm">Qeyd olunmuş ünvanınız yoxdur</div></ul>
              <!-- address elave etme -->
              <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form id="addnewaddress">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addAddressModalLabel">Yeni ünvan</h5>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-6 mb-3">
                            <label for="" class="mb-2">Ad:</label>
                            <input class="form-control" id="addressfirstname" placeholder="Adınız" value="" type="text">
                          </div>
                          <div class="col-6 mb-3">
                            <label for="" class="mb-2">Soyad:</label>
                            <input class="form-control" id="addresslastname" placeholder="Soyadınız" value="" type="text">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="" class="mb-2">Ünvan Başlığı:</label>
                            <input class="form-control" id="addressline" placeholder="ünvan başlığı yaxınlığında ne var..." type="text">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="" class="mb-2">Rayon:</label>
                            <input class="form-control" id="addressregion" placeholder="rayon" type="text">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="" class="mb-2">Küçə/Məhəllə:</label>
                            <input class="form-control" id="addressstreet" placeholder="küçə" type="text">
                          </div>
                          <div class="col-6 mb-3">
                            <label for="" class="mb-2">Bina/Ev:</label>
                            <input class="form-control" id="addressbuilding" placeholder="bina nömrəsi" type="text">
                          </div>
                          <div class="col-6 mb-3">
                            <label for="" class="mb-2">Mənzil:</label>
                            <input class="form-control" id="addressflat" placeholder="qapı nömrəsi" type="text">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="profile-save-btn bordered-btn">Əlavə et</button>
                        <button type="button" class="profile-bordered-btn bordered-btn" data-bs-dismiss="modal">Ləğv et</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          
            <div class="tab-pane" id="security-tab"  role="tabpanel"
            aria-labelledby="security">
                <h6>ŞİFRƏ TƏNZİMLƏMƏSİ</h6>
                <hr>
                <form id="updatepasswordform">
                  <div class="form-group">
                    <label class="d-block mb-3">Şifrəmi Dəyiş</label>
                    <input type="password" oninput="checkChangePassSaveBtn()" id="oldpass" class="pass form-control mb-3" placeholder="Köhnə şifrə">
                    <input type="password" oninput="checkChangePassSaveBtn()" id="newpass" class="pass form-control mt-1 mb-3" placeholder="Yeni şifrə">
                    <input type="password" oninput="checkChangePassSaveBtn()" id="renewpass" class="pass form-control mt-1 mb-3" placeholder="Yeni şifrəni təsdiq edin">
                    <small id="fullNameHelp" class="form-text text-muted ">*Şifrə minimum 6 xanalı olmalıdır!</small>
                    
                  </div>
                  <button type="button" id="changepassbtn" class="mt-2 disabled-chng-pass profile-bordered-btn bordered-btn">Dəyiş</button>

                </form>
             

            </div>
          
          </div>
        </div>
      </div>
    </div>

  </div>
{%endblock%}

{% block js%}
<script src="./static/js/notification.js"></script>
<script src="./static/js/account-info.js"></script>
{% endblock %}