{% extends 'base.html' %}
{% load static %}    
{% load i18n %}

    {% block desc %}<meta name="description" content="Sadecə telefon nömrəsi ilə daxil olun və alış-verişinizə davam edin.">{% endblock %}
    {% block title %}<title>{% trans 'Daxil ol' %} | STOREGLASSTECH</title>{% endblock %}
        
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}

    {% block content %}  

     <!--Main content-->



    
	<!-- breadcrumb-section -->
	<div class="mt-5  breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>{% trans 'Daxİl ol' %}</p>
						<h1>{% trans 'Hesabınıza giriş edin' %}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

    <!--  signin section -->
    <section>
        <div class="container">
            <div class="d-flex justify-content-center p-3 row">
                <div class="pb-4 center col-12">
                    <div class="w-100 d-flex mt-3 py-3 logoSign align-items-center justify-content-center"><img width="200px" src="{% static 'images/logo1.png'%}" alt=""></div>
                    <hr>
                    <form class="mt-5" method="post">
                    <div class="txt_field">
                        <input id="phone" type="text" required/>
                        <span></span>
                        <label>{% trans 'Mobil nömrə' %}</label>
                    </div>
                    <div id="pass_div" class="d-none  txt_field">
                        <input id="password" type="password" required/>
                        <span></span>
                        <label>{% trans 'Şifrə' %}</label>
                    </div>
                    <button type="button" onclick="checkNumber()" id="next-btn" class="bordered-btn">{% trans 'Davam et' %}</button>
                    <button type="button" onclick="login()" id="signin_btn" class="d-none cart-btn ">{% trans 'Daxil ol' %}</button>
                    <div id="reset_pass" class="d-none signup_link">{% trans 'Şifrəni unutmusan?' %} <b  onclick="newPassword()">{% trans 'Yeni Şifrə' %}</b></div>
                    <div id="resend_pass" class="d-none signup_link">{% trans 'Şifrə göndərilmədi?' %} <b onclick="newPassword()">{% trans 'Yenidən göndər' %}</b></div>
                    <div id="resend_timer" class="d-none">{% trans 'Yeni şifrə' %} <b id="minutes">3</b><b>:</b><b id="seconds">00</b> {% trans 'sonra' %}</div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block js%}
    <script>
        var notfPassSMSSended = '{% trans "Şifrə SMS göndərildi" %}';
        var notfTryAgain = '{% trans "Yenidən cəhd edin" %}';
        var notfWrongNumber = '{% trans "Nömrə yanlış daxil edilib" %}';
        var notfNewPassSMSSended = '{% trans "Yeni şifrə SMS göndərildi" %}';
        var notfPassAgainSended = '{% trans "Şifrə yenidən göndərildi" %}';
        var notfEnterPass = '{% trans "Şifrənizi daxil edin" %}';
        var notfWrongPass = '{% trans "Şifrə yanlışdır!" %}';
    </script>
    <script src="{% static 'js/login.js'%}"></script>
    {% endblock%}

  