{% extends 'base.html' %}
{% load static %}
{% load i18n %}

    {% block title %}<title>{% trans 'Sevimlilərim' %} | STOREGLASSTECH</title>{% endblock %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
    {% endblock %}

    {% block content %}  

    
    <div class="w-100 py-5">
        <div class="container-fluid">
            <h2 class="wishlist-title mb-4">{% trans 'Sevimlilərim' %}</h2>
          
            <table class="shop_table" id="wishlist-table">
               
                
                    
            </table>
            <ul class="shop_table_mobile d-md-none" id="wishlist-mobile">
               

            </ul>

        </div>

    </div>


    {% endblock %}

{% block js%}
<script>
    var  transEmptyWish = "{% trans 'Sevimlilər siyahınız boşdur' %}"
    var  transProduct = "{% trans 'Məhsul' %}"

</script>
<script src="{% static 'js/wishlist-api.js'%}"></script>
{% endblock%}
   