{% extends 'base.html' %}
{% load static %}
    
    
    {% block style %}<link rel="stylesheet" href="{% static 'css/cart.css' %}">{% endblock %}


    {% block content %}

    <div class="w-100 py-5">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-9">
                    <form class="cart-form" method="post">

                        <table class="cart_table w-100" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-name" data-title="Product" colspan="2">Product</th>
                                    <th class="product-price" data-title="Price">Price</th>
                                    <th class="product-quantity" data-title="Quantity">Quantity</th>
                                    <th class="product-subtotal" data-title="Subtotal">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody id="productsStartLine">


                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="actions coupon-sec">
                                        <div class="coupon">
                                            <label for="coupon_code">Coupon:</label>  
                                            <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" 
                                            placeholder="Coupon code"> 
                                            <button type="button" id="apply_coupon_btn" onclick="applyCoupon()" class="button" name="apply_coupon" value="Apply coupon">Apply coupon</button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- empty cart -->
                         
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="cart-collaterals">
                        <div class="cart_totals ">
                            <h2 class="sr-only">Cart totals</h2>

                            <table cellspacing="0" class="cart_table2">
                                <tbody>
                                    <tr class="cart_header">
                                        <th>
                                            <h5>Cart Totals</h5>
                                        </th>
                                    </tr>

                                    <tr id="cart-subtotal" class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td data-title="Subtotal">
                                            <span class="price_code">
                                                <span class="price-amount amount">
                                                    <bdi id="basketActualPrice"></bdi>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td data-title="Total">
                                            <del id="basketPrice"></del>
                                            <br>
                                            <strong>
                                                <span class="price_code">
                                                    <span class="price-amount amount">
                                                        <bdi id="basketTotal"></bdi>
                                                    </span>
                                                </span>
                                            </strong>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                            <div class="checkout-sec">

                                <a href="" class="checkout-button button py-2 d-block alt wc-forward">
                                    Proceed to checkout</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock %}

        {% block js %}
        <script>
            var basketAPI = "{% url 'orderAPI:basket' %}"
            var couponAPI = "{% url 'orderAPI:basketcoupon' %}"

        </script>
        <script src="{% static 'js/cart.js' %}"></script>
        <script src="{% static 'js/basket-api.js' %}"></script>

        {% endblock %}





