.colorBox {
  display:inline-block; 
  vertical-align:middle; 
  margin:2px; 
  width:20px; 
  height:20px; 
  border:1px solid #ddd; 
  border-radius:3px; 
  box-sizing:border-box;
}

.m50 {
  margin:50px;
}
.sp-container{
  right: 0 !important;
  width: max-content !important;
}
.sp-container {
  position: absolute;
  top: 0;
  left: unset !important;
  display: inline-block;
  z-index: 9999994;
  overflow: hidden;
}


.sp-replacer{
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  border: unset !important;
  background: unset !important;
  color: #333;
  vertical-align: middle;
}
.sp-preview {
  position: relative;
  margin-right: 5px;
  float: left;
  z-index: 0;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  border: 3px solid #fff !important;
  box-shadow: 0 0 8px #4f4f4f !important;
}
.sp-dd{
  display: none;
}
.sp-preview-inner{
  border-radius: 50% !important;
}
.sp-button-container{
  display: none !important;
}

.tabs{
position: relative;
}
.nav-pills{
position: absolute;
top: 20px;
right: 0;
}
.product-image-sec li button{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 7px;
  background-color: #f4f4f4 !important;
  box-shadow: -4px 2px 3px #7e7e7e;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
  transition: border 0.2s ease-in-out 0s;
  cursor: pointer;
  padding: 7px;
}
@media (min-width: 1200px) {
  .product-image-sec li button {
      width: 55px !important;
      height: 55px !important;
  }
}
.product-image-sec li button img{
width: 45px;
height: 45px;
}
.product-image-sec .nav-link.active{
width: 60px !important;
      height: 60px !important;
}
.product-image-sec .tab-pane{
position: absolute;
width: 100%;
height: 100%;
}
.product-image-sec .first{
padding: 70px;
background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.40) 100%);

}
.product-image-sec .tab-content,.product-image-sec .tabs{
position: absolute;
width: 100%;
height: 100%;
}
.nav-pills{
z-index: 1000000000000;
}
.pd-product-type {
position: absolute;
left: 0;
top: 0;
border-bottom-right-radius: 7px;
box-shadow: 4px 4px 4px #9f9f9f;
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;
}
.pd-product-type {
  z-index: 100000000;
    font-size: 14px;
    padding: 6px 8px;
}
.pd-product-type img {
    width: 35px;
    margin-right: 5px;
}
/* .product-image-sec .tab-pane img{
width: 80%;

}
.product-image-sec .tab-pane {
display: flex;
align-items: center;
justify-content: center;
} */
.product-image-sec .tab-pane{
/* position: relative; */
display: flex !important;align-items: center;
justify-content: center;
}
.product-image-sec{
height: auto;
position: relative;
}
.sofa-section{
position: absolute;
bottom: 20px;
width: 300px;left: 30%;
bottom: 0;
height: 220px;
z-index: 1;
}
.sofa-section svg{
position: absolute;
width: 220px;
height: 220px;
}
.sofa-color-sec{
position: absolute;
right: 0;
top: 20px;
z-index: 10;
}
.sofa-color-sec label,.wall-color label{
font-weight: 500;
text-transform: uppercase;
font-size: 17px;
color: #fff;
text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}
.floor{
position: absolute;
width: 100%;
height: 200px;
z-index: 0;
bottom: 0;

}
.vase{
width: 120px;
 height: 300px;
 position: absolute;
 left: 10px;
 bottom: 30px;
}
.main-product-image{


}
/*
#main-frame {
  display: inline-block;
  position: relative;
  padding: 10px; /
  background-size: cover;
  background-repeat: no-repeat;
  width: auto; 
}
#main-frame img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1; 
}
#main-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
*/
.frame {
  display: inline-block;
  position: relative;
  padding: 15px; /* Adjust this to create the frame width */
  background-image: url('/mnt/data/image.png'); /* Frame background image */
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 250px;
  height: 180px;
position: absolute;
z-index: 10000;
top: 8%;
left: 30%;
/* overflow: hidden;  */
}
.frame-main {
  display: inline-block;
  position: relative;
  padding: 15px; /* Adjust this to create the frame width */
  background-image: url('/mnt/data/image.png'); /* Frame background image */
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.frame-main::before,.frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/mnt/data/image.png'); /* Frame background image */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.frame-main img,.frame img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.wall-overlay{
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
background: rgba(0,0,0,0.20);
}
.wall-color{
position: absolute;
top: 20%;
left: 15px;
}
.sp-preview, .sp-alpha, .sp-thumb-el {
position: relative;
background-image: none !important;
}


.pd-photedit-title {
background-color: #000;
color: #fff;
display: inline-block;
width: 100%;
padding: 10px;
}
.pd-photedit-title h1 {
    font-size: 16px;
    margin: 0;
}
.pd-photedit-in {
  background-color: #e9e9e9;
  display: inline-block;
  width: 100%;
  padding: 6px;
  border-bottom: 1px solid #dedede;
}
.pd-photedit-in p {
float: right;
font-size: 14px;
color: #373737;
margin: 0;
}
.prod-info .bootstrap-select>.dropdown-toggle {
background: transparent !important;
max-width: 100%;
width: 200px;
border: 1px solid #000 !important;
box-shadow: none;
outline: none;
color: #000 !important;
}
.prod-info .bootstrap-select>.dropdown-toggle::after {
border-right: none !important;
border-left: none !important;
border-top: none !important;
content: "\f078" !important;
-webkit-text-stroke: transparent !important;
vertical-align: 0 !important;
font-family: FontAwesome;
}
.size-select {
float: right;
}
.size-select ul {
list-style-type: none;
padding: 0;
margin: 0;
}
.size-select ul li {
display: inline-block;
}
.select-price {
    font-size: 25px;
}
.select-price {
color: #484848;
text-align: right;
padding-right: 5px;
height: 33px;
line-height: 38px;
font-weight: bold;
}
.select-price span, .select-market-price {
font-size: 16px;
}
.select-price span, .select-market-price {
color: #454545;
text-align: right;
text-decoration: line-through;
padding-right: 3px;
font-weight: normal;
}
.size-select ul li {
display: inline-block;
float: left;
}
.select-size {
font-size: 12px;
}
.select-size span {
width: 100%;
display: block;
text-align: right;
color: #605f5f;
text-decoration: underline;
}
.prod-info .nav-tabs .nav-link{
text-align: center;
  background-color: #d4d4d4;
  text-align: center;
  font-size: 13px;
  color: #000 !important;
  z-index: 0;
  width: 50%;
  cursor: pointer;
  border-radius: 0 !important;
  border-right: 1px solid #ccc;
}
.prod-info .nav-tabs .nav-link.active{
background-color: #959595 !important;
  color: #fff !important;
  z-index: 1 !important;
}
.prod-info .tab-content{
padding: 5px;
height: 200px;
  background-color: #fff !important;
  color: #555;
  overflow-x: hidden;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.frame-container {
width: 100%;
display: inline-block;
padding: 0;
line-height: 0;
}
.frame-container ul {
display: inline-block;
width: 100%;
}
ul {
list-style-type: none;
padding: 0 !important;
margin: 0 !important;
}
@media(min-width:992px){
.frame-container ul li {
  width: 20%;
}
.frame-container ul li button {
height: 70px;
}
}
.frame-container ul li {
padding: 3px;
display: inline-block;
line-height: 0;
float: left;
}
.frame-container ul li button {
display: inline-block;
position: relative;
border-width: 2px;
border-style: solid;
border-color: #fff;
transition: border 0.2s ease-in-out 0s;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-color: transparent;
width: 100%;
font-size: 11px;
color: #000;
}
.frame-container ul li button span {
font-size: 11px;
}
.frame-container ul li button span {
width: 100%;
background: rgba(255, 255, 255, 0.4);
text-align: center;
padding: 9px 0;
position: absolute;
bottom: 0;
left: 0;
white-space: nowrap;
}
.frameactive,.effectactive {
border-color: #e4087d !important;
}
.frame-info {
width: 100%;
margin-top: 12px;
color: #e11717;
font-size: 12px;
border-top: 1px dotted #d4d4d4;
display: inline-block;
padding-top: 12px;
}
.basket-col {
text-align: center;
padding: 18px 10px;
width: 100%;
}
.basket-col svg{
  width: 60px;
  height: 60px;
  padding: 10px;

}
.comment-btn{
  background: #10143e;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto;
  border: none;
  outline: none;
  border-radius: 5px;
}
.title-h2{
  font-size: 25px;
  color: #10143e;
  font-weight: 700;
  
}
.basketadd {
font-size: 22px;
/* padding: 9px 0; */
border-radius: 3px;
border: 0;
width: 70%;
background-color: #10143e;
color: #fff;
}
.like-btn svg{
  fill: #10143e;
  margin-top: -10px;
}
.like-btn{
  background: transparent;
  outline: none;
  border: none;
}
.ps-mk {
padding: 0 10px 10px;
text-align: center;
}
.ps-mk-icon {
margin: 0 5px;
font-size: 14px;
padding: 5px 10px;
}
.ps-mk-icon {
cursor: pointer;
color: #555;
display: inline-flex;
text-decoration: none;
background-color: #dddddd;
justify-content: center;
align-items: center;
}
.ps-mk-icon svg {
margin-right: 6px;
}
svg:not(:root) {
overflow: hidden;
}
@media (min-width: 1200px) {
.ps-message-1, .ps-message-2, .ps-message-3 {
    width: 130px;
}
}
.ps-message-1 {
background-color: #5caedc;
}
.ps-message-1, .ps-message-2, .ps-message-3 {
color: #fff;
padding: 7px 0;
border-radius: 7px;
display: flex;
font-size: 12px;
line-height: 15px;
text-align: left;
margin: 0 5px;
justify-content: center;
}
.ps-message-1 span {
margin-right: 10px;
}
.ps-message-2 {
background-color: #b349a1;
}
.ps-message-3 {
background-color: #87bc57;
}
.ps-kinfo {
text-align: center;
font-size: 14px;
display: inline-flex;
justify-content: center;
width: 100%;
}
@media (min-width: 1200px) {
.prod-info {
    min-height: 600px;
}
}
.prod-info{
background: #f4f4f4;
}
.effect-container {
width: 100%;
display: inline-block;
padding: 0;
line-height: 0;
}
ul {
list-style-type: none;
padding: 0 !important;
margin: 0 !important;
}
.effect-container ul li {
padding: 3px;
}
.effect-container ul li button {
height: 108px;
}
.effect-container ul li button {
display: inline-block;
position: relative;
border-width: 2px;
border-style: solid;
border-color: transparent;
transition: border 0.2s ease-in-out 0s;
background-position: center center;
background-size: cover;
width: 100%;
color: #000;
}
.effect-container ul li button span {
font-size: 14px;
}
.effect-container ul li button span {
width: 100%;
background: rgba(255, 255, 255, 0.6);
padding: 13px 4px;
position: absolute;
bottom: 0;
left: 0;
text-align: center;
}
.product-type-in {
background-color: #fafafa;
border: 1px solid #f3f3f3;
padding: 12px 0;
}
.pt-in-header {
margin: 12px;
border-bottom: 1px solid #e6e6e6;
}
.title-h3 {
font-weight: 600;
font-size: 18px;
margin-top: 9px;
}
.title-h3 {
color: #4a4a4a;
text-transform: uppercase;
}
.pt-in-des {
font-size: 13px;
margin-top: 13px;
}
.product-type-in ul {
overflow: hidden;
}
ul {
list-style-type: none;
padding: 0;
margin: 0;
}
.product-type-in ul li {
padding: 12px;
float: left;
width: 20%;
}
.product-type-in ul li a {
border: 1px solid #cccccc;
display: inline-block;
}
a {
text-decoration: none !important;
}
.pt-in-img {
width: 100%;
aspect-ratio: 1 / .895;
object-fit: contain;
}
.pt-in-icon {
display: flex;
align-items: center;
justify-content: center;
height: 1px;
background-color: #eee;
}
.pt-in-icon span {
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: #fff;
border: 1px solid #fff;
padding: 5px;
box-shadow: 0 0 7px #797979;
}
.pt-in-icon span img {
width: 100%;
text-align: center;
}
.pt-in-info {
background-color: #f2f2f2;
}
.pt-in-info span {
text-align: center;
display: block;
width: 100%;
padding-top: 40px;
font-size: 18px;
font-weight: 600;
color: #5d89a1;
text-decoration: none;
border-bottom: 1px solid #d4d4d4;
margin-bottom: 4px;
}
.pt-in-info p {
height: 72px;
font-size: 12px;
}
.pt-in-info p {
width: 100%;
text-align: center;
color: #535353;
padding: 5px;
overflow: hidden;
}
.pt-in-btn {
width: 100%;
padding: 5px;
text-align: end;
background-color: #10143e;
color: #fff;
font-weight: 600;
border-top: 5px solid #10143e;
}
.cq-title {
width: 100%;
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
padding: 9px 0;
border: 1px solid #ebebeb;
background-color: #f7f7f7;
color: #575757;
font-size: 18px;
font-weight: bold;
letter-spacing: 2px;
}
.cq-item-title {
width: 100%;
overflow: hidden;
position: relative;
margin-top: 10px;
}
.cq-item-title > div {
width: auto;

border-bottom: 2px solid #f37397;
text-align: center;
}
.cq-item-title > div > div {
background-color: #f37397;
margin-top: 0;
margin-bottom: 0;
color: #fff;
padding: 6px 35px;
font-size: 16px;
letter-spacing: 1px;
font-weight: bold;
float: left;
text-align: center;
}
.cq-item-title > div span {
display: block;
}
.cq-item-title > div span {
float: left;
height: 1px;
}
@media (min-width: 1200px) {
.cq-item1 {
background-image: url(https://www.tablohane.com/Content/Images/Design/cq10.png);
background-position: left top;
}}
.cq-item {
width: 100%;
background-repeat: no-repeat;
overflow: hidden;
margin-top: 7px;
}
@media (min-width: 1200px) {
.cq-item ul {
    float: left;
    width: 48%;
}
}
.cq-item ul li p {
color: #3d3e43;
}
.cq-item .cq-p-title {
font-size: 17px;
color: #000;
text-transform: uppercase;
font-weight: bold;
margin: 0;
}
.cq-item-title {
width: 100%;
overflow: hidden;
position: relative;
margin-top: 10px;
}

@media (min-width: 1200px) {
.product-category-info .nav-tabs .nav-link {
      padding-left: 30px;
      padding-right: 15px;
      font-size: 18px;
  }
}
@media (min-width: 1200px) {
.cq-item3 {
    background-image: url(https://www.tablohane.com/Content/Images/Design/cq12.png);
    background-position: left top;
}
}
.product-category-info .nav-tabs .nav-link {
  text-align: center;
  display: inline-block;
  padding-bottom: 10px;
  color: #98A0A9 !important;
  /* border: none !important; */
  position: relative;
  cursor: pointer;
    padding-left: 30px;
    padding-right: 15px;
    font-size: 18px;
}

.product-category-info .nav-tabs .nav-link.active{
color: #f58220 !important;
position: relative;
}
@media (min-width: 1200px) {
  .cq-item2 {
      background-image: url(https://www.tablohane.com/Content/Images/Design/cq11.png);
      background-position: right top;
  }
}

@media(max-width:767px){
.product-image-sec{
  height: 300px;
  max-height: 350px;
}
.pd-photedit-title h1{
  font-size: 11px;
}
.size-sec{
  flex-wrap: wrap;
}
.prod-info .bootstrap-select>.dropdown-toggle{
  width: 100%;
  max-width: 100%;
}
.bootstrap-select.fit-width,.size-select{
  width: 100% !important;
}
.size-select{
  justify-content: end;
  display: flex;
}
.frame img{
  max-width: 150px;
  width: 120px;
}
.frame {
  max-width: 170px;
  height: 100px;
  width: 140px;
}
.sofa-section {
  position: absolute;
  bottom: 0;
  width: 200px;
  left: 30%;
  /* bottom: 0; */
  height: 200px;
  z-index: 1;
}
.sofa-section svg {
position: absolute;
bottom: 0;
width: 170px;
height: 170px;
}
.sofa-color-sec label, .wall-color label{
display: none;
}
.sofa-color-sec {
position: absolute;
right: 20px;
top: 30px;
z-index: 10;
}
.vase {
width: 70px;
height: 150px;
position: absolute;
left: 10px;
bottom: 30px;
}
.sp-preview{
width: 20px !important;
height: 20px !important;
}
.size-select ul li{
font-size: 11px;
}
.select-price{
font-size: 20px !important;
}
.select-price span, .select-market-price{
font-size: 14px !important;
}
.prod-info .tab-content{
height: 220px;
}

}
@media screen and (max-width: 767px) {
.ps-message-1, .ps-message-2, .ps-message-3 {
    width: 111px;
}
}
@media screen and (max-width: 767px) {
.frame-container ul li {
    width: 25%;
}
}
@media screen and (max-width: 767px) {
.frame-container ul li button {
    height: 51px;
}
}

@media(min-width:576px) and (max-width:767px){
.product-image-sec{
  height: 400px;
  max-height: 450px;
}
}
@media(min-width:768px) and (max-width:1199px){
.product-image-sec{
  height: 500px;
  max-height: 580px;
}
}@media screen and (max-width: 767px) {
.product-type-in ul li {
    padding: 5px;
    float: left;
    width: 50%;
}
}
@media screen and (max-width: 767px) {
.cq-item-title > div {
    width: 100%;
}
}
@media (min-width: 768px) {
.frame-container ul li button {
    height: 70px;
}
.frame-container ul li {
    width: 20%;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.product-type-in ul li {
    padding: 12px;
    float: left;
    width: 33.3333%;
}
}
@media (min-width: 768px) {
.ps-message-1, .ps-message-2, .ps-message-3 {
    width: 130px;
}
}