{% extends 'base.html' %}
{% load static %}
  {% block style %}
   
  <link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
  </link>
  <link rel="stylesheet" href="https://bgrins.github.io/spectrum/spectrum.css">

  {% endblock %}

  {% block content %}
  
  <div class="w-100 py-5 product-detail">
    <div class="container-fluid">
        <div class="row" style="--bs-gutter-x: 0;">
            <div class="col-xl-7 product-image-sec p-0">
                <div class=" d-flex align-items-start tabs">
                    <ul class="nav nav-pills flex-column nav-pills align-items-end" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link  fw-semibold active position-relative" id="pills-home-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
                                aria-controls="pills-home" aria-selected="true">
                                <img src="{% static 'images/home-ico.png'%}" alt="">
                            </button>
                        </li>

                        <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link  fw-semibold position-relative" id="pills-profile-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                                aria-controls="pills-profile" aria-selected="false">
                                <img src="https://www.tablohane.com/Content/Images/Design/studioicon2.png" alt="">
                            </button>
                        </li> -->
                    
                    </ul>
                    <div class="tab-content w-100" id="pills-tabContent">
                        <div id="prod-selected" class="pd-product-type product-color-1">
                           
                        </div>
                        <div class="prod-categories">
                            <div style="display: block;">
                                <ul id="prod-types">
                                    
                                 
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade show first active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">

                            <div class="frame-main" id="main-frame">
                                <div class="glass-overlay" id="glass-overlay"><img src="{% static 'images/shadow.png'%}" alt=""></div>
                                <img id="main-frame-img" src=""
                                    alt="">
                            </div>

                        </div>
                        <div class="tab-pane fade " id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="wall-overlay"><img src="{% static 'images/shadow.png' %}" alt=""></div>
                            <div class="sofa-section">
                                <div class="sofa-color-sec">
                                    <input type="text" name="preferredHex" id="preferredHex" value="#B90B27">
                                    <label for="preferredHex" id="label1">KOLTUK RENGI</label>
                                </div>
                               <img src="{% static 'images/sofa.png'%}" alt="" class="sofa">
                            </div>
                            <!-- <img class="floor"
                                src="https://static.vecteezy.com/system/resources/thumbnails/011/124/815/small/wooden-floor-isolate-png.png"
                                alt=""> -->
                            <img src="{% static 'images/floor.png'%}" alt="" class="floor">
                            <img class="vase" src="{% static 'images/vase.png'%}" alt="">
                            <div class="frame" id="main-frame1">
                                <img class="main-product-image"
                                    src="{% static 'images/prod-img.avif'%}"
                                    alt="">

                            </div>
                            <div class="wall-color">
                                <input type="text" name="preferredHex1" id="preferredHex1" value="rgba(0,0,0,0.2)">
                                <label for="preferredHex1" id="label2">DUVAR RENGI</label>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xl-5 prod-info">
                
                <h2 id="prod-title" class="prod-info-title mb-3"></h2>
                <hr>
                <p id="prod-desc"></p>
               
                <!-- <span class="frame-title">Frame</span>
                <ul class="frame-list">
                    <li><button style="background: transparent;" class="selected" data-frame="none"><img  src="{% static 'images/none.png'%}" alt=""></button></li>
                    <li><button style="background-image: url('https://img.freepik.com/free-photo/wooden-textured-background_53876-14865.jpg?size=626&ext=jpg&ga=GA1.1.876311657.1717677308&semt=ais_user');" data-frame="https://i.pinimg.com/originals/2e/8f/00/2e8f000a5e7c8c419420f181c1235609.png"><div class="active-overlay"><i class="fa fa-check"></i></div></button></li>
                    <li><button style="background-image: url('https://img.freepik.com/free-photo/weathered-while-wall-surface-textured_23-2148210236.jpg?size=626&ext=jpg&ga=GA1.1.876311657.1717677308&semt=ais_user');" data-frame="https://i.pinimg.com/originals/2e/8f/00/2e8f000a5e7c8c419420f181c1235609.png"><div class="active-overlay"><i class="fa fa-check"></i></div></button></li>
                    <li><button style="background-image: url('https://img.freepik.com/free-photo/wood-with-coarse-surface-chipping_23-2148394666.jpg?size=626&ext=jpg&ga=GA1.1.876311657.1717677308&semt=ais_user');" data-frame="https://i.pinimg.com/originals/2e/8f/00/2e8f000a5e7c8c419420f181c1235609.png"><div class="active-overlay"><i class="fa fa-check"></i></div></button></li>
                </ul> -->
                <span class="size-title mt-4">Size</span>
                <ul id="size-list" class="size-list">
                  
                    
                </ul>
                <div class="has-cart-message mt-3 d-flex align-items-center justify-content-end" id="cartMessage">
                    <div class="alert alert-success has-cart d-flex align-items-center"><i class="fa fa-info"></i> Səbətinizdə bu məhsuldan var!</div>

                </div>
                <div id="prod-price" class="d-flex  align-items-center justify-content-between  mt-2 mb-4 mb-md-0" style="gap: 20px;">
                       
                </div>
                <div class="basket-col d-flex align-items-end  align-items-lg-center flex-column flex-lg-row justify-content-end mt-4">
                   
                   <div class="d-flex align-items-center" style="gap: 20px;">
                    <button type="button" class="basketadd py-3" data-prod_id="" id="basketadd"><i class="fa fa-shopping-cart"></i> Səbətə at</button>
                    <button data-prod_id="" class="like-btn" id="like">
                        <img class="like-img" src="{% static 'images/heart2.png'%}" alt="">
                    </button>
                   </div>
                </div>
            </div>
             </div>

    </div>
</div>



<div class="product-type-in w-100 py-5">
    <div class="container-fluid">
        <div class="pt-in-header">
            <div title="farklı ürün çeşitleri" class="title-h3">FARKLI ÜRÜN ÇEŞİTLERİ</div>
            <p class="pt-in-des">Atatürk - Egemenlik Kayıtsız Şartsız Milletindir görselini 6 farklı ürüne göre
                seçip,
                sipariş oluşturabilirsiniz</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-4">
                <div class="product-item">
                  <a href="">
                    <div class="product-item-img">
                      <img
                      src="{%static 'images/prod-img.avif'%}"
                      alt="">
                    </div>
                    </a>
                    <div class="product-col-info p-2">
                      
                      <h3 class="product-item-title mt-2"><a href="">Funny Angry Monster Poster</a></h3>
                      <div class="product-item-price-section">
                        <div class="product-item-price d-flex align-items-center justify-content-between">
                         <div class="stage"><a href="">15%</a></div>
                         <div class="d-flex align-items-center">
                          <del>300$</del>
                          <span>200$</span>
                         </div>
                        </div>
                      </div>
                    </div>
                 
                </div>
              </div>

              <div class="col-sm-6 col-lg-3 mb-4 mb-4">
                <div class="product-item">
                  <a href="">
                    <div class="product-item-img">
                      <img
                      src="{%static 'images/prod-img.avif'%}"
                      alt="">
                    </div>
                    </a>
                    <div class="product-col-info p-2">
                      
                      <h3 class="product-item-title mt-2"><a href="">Funny Angry Monster Poster</a></h3>
                      <div class="product-item-price-section">
                        <div class="product-item-price d-flex align-items-center justify-content-between">
                         <div class="stage"><a href="">15%</a></div>
                         <div class="d-flex align-items-center">
                          <del>300$</del>
                          <span>200$</span>
                         </div>
                        </div>
                      </div>
                    </div>
                 
                </div>
              </div>

              <div class="col-sm-6 col-lg-3 mb-4 mb-4">
                <div class="product-item">
                  <a href="">
                    <div class="product-item-img">
                      <img
                      src="{%static 'images/prod-img.avif'%}"
                      alt="">
                    </div>
                    </a>
                    <div class="product-col-info p-2">
                      
                      <h3 class="product-item-title mt-2"><a href="">Funny Angry Monster Poster</a></h3>
                      <div class="product-item-price-section">
                        <div class="product-item-price d-flex align-items-center justify-content-between">
                         <div class="stage"><a href="">15%</a></div>
                         <div class="d-flex align-items-center">
                          <del>300$</del>
                          <span>200$</span>
                         </div>
                        </div>
                      </div>
                    </div>
                 
                </div>
              </div>

              <div class="col-sm-6 col-lg-3 mb-4 mb-4">
                <div class="product-item">
                  <a href="">
                    <div class="product-item-img">
                      <img
                      src="{%static 'images/prod-img.avif'%}"
                      alt="">
                    </div>
                    </a>
                    <div class="product-col-info p-2">
                      
                      <h3 class="product-item-title mt-2"><a href="">Funny Angry Monster Poster</a></h3>
                      <div class="product-item-price-section">
                        <div class="product-item-price d-flex align-items-center justify-content-between">
                         <div class="stage"><a href="">15%</a></div>
                         <div class="d-flex align-items-center">
                          <del>300$</del>
                          <span>200$</span>
                         </div>
                        </div>
                      </div>
                    </div>
                 
                </div>
              </div>

              
        </div>
    </div>
</div>


<div class="product-category-info w-100 py-5">
    <div class="container-fluid">
    <nav class="mt-3">
        <div class="nav nav-tabs mb-2 " id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first"
                type="button" role="tab" aria-controls="nav-first" aria-selected="true">Ürün kalitesi</button>
            <button class="nav-link" id="nav-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second"
                type="button" role="tab" aria-controls="nav-second" aria-selected="false">Yorum yap</button>
         
        </div>
    </nav>
    <div class="tab-content pb-5 " id="nav-tabContent">
        <div class="tab-pane fade active show" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
        
            <div class="prod-cat  mt-5">
           
                <div class="w-100 mt-5 tab-content " id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab1">
                   
                    <div id="prod-detail" class="cq-item cq-item1">
                        <ul style="float: right;">
                            <li>
                                <p class="cq-p-title">3cm kenar kalınlığı</p>
                                <p>Kanvas tablolar 3cm kenar kalınlığına sahiptir.</p>
                            </li>
                            <li>
                                <p class="cq-p-title">%100 pamuk kanvas (tuval)</p>
                                <p>Yerli olarak üretilen 1.sınıf santsal kanvas üzerine baskı yapmaktayız. Renklerinde
                                    bozulma veya kanvasında bollaşma yapmaz.</p>
                            </li>
                            <li>
                                <p class="cq-p-title">Ahşap Şase</p>
                                <p>Fırınlanmış masif ahşaplardan üretilmektedir. Zaman içerisinde eğilmez ve şekli
                                    bozulmaz.</p>
                            </li>
                            <li>
                                <p class="cq-p-title">Epson Baskı</p>
                                <p>EPSON teknolojisi ile bilgisayar ekranında göründüğü gibi basılabilme. Sağlığa
                                    zararlı olmayan Epson marka su bazlı mürekkep kullanılmakta.</p>
                            </li>
                            <li>
                                <p class="cq-p-title">Kenar baskısı</p>
                                <p>Orijinal resmin bütünlüğü bozulmadan dokusu devam etirilerek kenar payları verilir.
                                </p>
                            </li>
                            <li>
                                <p class="cq-p-title">Askı ve Çivi</p>
                                <p>Askısı ve çivisi tablonun üsütüne monte edilerek üretimi tamamlanır. Asmaya hazır
                                    şekilde sevkiyatı yapılır.</p>
                            </li>
                        </ul>
                    </div> </div>
                  
                </div>
              </div>
        </div>
        <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
            <div title="farklı ürün çeşitleri" class="title-h2 mt-3">YORUM YAP</div>
            <form action="" class="py-3 w-100">

                <div class="row">
                    <input type="text" class="form-control w-100 py-4 my-2" placeholder="Isminiz">
                    <input type="email" class="form-control w-100 py-4 my-2" placeholder="E-posta adresiniz">
                    <textarea name="" placeholder="Yorumunuz"  class="form-control my-2 w-100" rows="5" id=""></textarea>
                    <button type="submit" class="comment-btn py-3 mt-3 px-5">yorum yap</button>

                </div>
            </form>
        </div>
       

    </div>
</div>
</div>


  {% endblock %}


{% block js%}
<script>
    var productDetailAPI = "{% url 'productAPI:api-product-detail' category_slug=category_slug product_slug=product_slug %}";
    var addBasketAPI = "{% url 'orderAPI:addbasket' %}";

    var addWishAPI = "{% url 'accountAPI:addwishlist' %}";

</script>
<script src="https://bgrins.github.io/spectrum/spectrum.js"></script>
<script src="{% static 'js/product-detail-api.js' %}"></script>
<script src="{% static 'js/product-detail.js' %}"></script>


{% endblock%}
