{% extends 'base.html' %}
{% load static %}
  {% block style %}
   
  <link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
</link>
<link rel="stylesheet" href="https://bgrins.github.io/spectrum/spectrum.css">

  {% endblock %}

  {% block content %}
  
  <div class="w-100 py-5 product-detail">
    <div class="container-fluid">
        <div class="row" style="--bs-gutter-x: 0;">
            <div class="col-xl-7 product-image-sec p-0">
                <div class=" d-flex align-items-start tabs">
                    <ul class="nav nav-pills flex-column nav-pills align-items-end" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link  fw-semibold active position-relative" id="pills-home-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
                                aria-controls="pills-home" aria-selected="true">
                                <img src="https://www.tablohane.com/Content/Images/Design/studioicon1.png" alt="">
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link  fw-semibold position-relative" id="pills-profile-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                                aria-controls="pills-profile" aria-selected="false">
                                <img src="https://www.tablohane.com/Content/Images/Design/studioicon2.png" alt="">
                            </button>
                        </li>

                    </ul>
                    <div class="tab-content w-100" id="pills-tabContent">
                        <div class="pd-product-type product-color-1">
                            <img src="https://www.tablohane.com/Content/Images/ProductType/1.png">Kanvas Tablo
                            Seçildi
                        </div>
                        <div class="tab-pane fade show first active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">

                            <div class="frame-main" id="main-frame">
                                <img src="https://images.unsplash.com/photo-1552082919-e60010758c47?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fGRlc2t0b3AlMjB3YWxscGFwZXJzfGVufDB8fDB8fHww"
                                    alt="">
                            </div>
                        </div>
                        <div class="tab-pane fade " id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="wall-overlay"></div>
                            <div class="sofa-section">
                                <div class="sofa-color-sec">
                                    <input type="text" name="preferredHex" id="preferredHex" value="#B90B27">
                                    <label for="preferredHex" id="label1">KOLTUK RENGI</label>
                                </div>
                                <svg class="sofa" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
                                    xml:space="preserve" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path style="fill:#B90B27;"
                                            d="M490.043,336.371V129.454c0-33.631-27.36-60.99-60.99-60.99H82.947 c-33.631,0-60.99,27.36-60.99,60.99v206.917L490.043,336.371L490.043,336.371z">
                                        </path>
                                        <path style="fill:#A70B24;"
                                            d="M490.043,129.454c0-33.631-27.36-60.99-60.99-60.99H256v267.907h234.043V129.454z">
                                        </path>
                                        <rect x="21.957" y="377.31" style="fill:#575759;" width="35.718"
                                            height="66.226"></rect>
                                        <rect x="454.322" y="377.31" style="fill:#474748;" width="35.718"
                                            height="66.226"></rect>
                                        <rect x="115.267" y="221.128" style="fill:#F1F1F2;" width="131.172"
                                            height="87.597"></rect>
                                        <rect x="265.561" y="221.128" style="fill:#D8D8D9;" width="131.172"
                                            height="87.597"></rect>
                                        <path style="fill:#A70B24;"
                                            d="M512,393.277V256.773c0-19.758-16.017-35.774-35.774-35.774h-29.886 c-19.758,0-35.774,16.017-35.774,35.774v43.878h-309.13v-43.878c0-19.758-16.017-35.774-35.774-35.774H35.774 C16.017,220.998,0,237.014,0,256.773v136.505h512V393.277z">
                                        </path>
                                        <path style="fill:#A70B24;"
                                            d="M512,256.773c0-19.758-16.017-35.774-35.774-35.774h-29.886c-19.758,0-35.774,16.017-35.774,35.774 v43.878H256v92.626h256V256.773z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <img class="floor"
                                src="https://static.vecteezy.com/system/resources/thumbnails/011/124/815/small/wooden-floor-isolate-png.png"
                                alt="">
                            <img class="vase" src="https://pngimg.com/d/vase_PNG107.png" alt="">
                            <div class="frame" style="" id="main-frame1">
                                <img class="main-product-image"
                                    src="https://images.unsplash.com/photo-1552082919-e60010758c47?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fGRlc2t0b3AlMjB3YWxscGFwZXJzfGVufDB8fDB8fHww"
                                    alt="">

                            </div>
                            <div class="wall-color">
                                <input type="text" name="preferredHex1" id="preferredHex1" value="rgba(0,0,0,0.2)">
                                <label for="preferredHex1" id="label2">DUVAR RENGI</label>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xl-5 prod-info">
                <div class="pd-photedit-title">
                    <h1>Atatürk - Egemenlik Kayıtsız Şartsız Milletindir - Kanvas Tablosu</h1>
                </div>
                <div class="pd-photedit-in">
                    <p>Ürün Kodu: TH021139</p>
                </div>
                <div class="container-fluid py-3">
                    <div class="size-sec w-100  d-flex align-items-center justify-content-between">
                        <select class="selectpicker2" data-width="fit">
                            <option value="200x300">20 x 30 cm</option>
                            <option value="400x400">40 x 40 cm</option>
                            <option value="300x300">30 x 30 cm</option>
                            <option value="200x200">20 x 30 cm</option>
                        </select>
                        <div class="size-select">
                            <ul>
                                <li class="select-price" data-price="259,90">
                                    <span>306,68 ₺</span>
                                    259,90 ₺
                                </li>
                                <li class="select-size">
                                    <span>KDV Dahil</span>
                                    20 x 30 cm
                                </li>
                            </ul>
                        </div>

                    </div>
                    <nav class="mt-3">
                        <div class="nav nav-tabs " id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">Çerçeve</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">Efekt</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div data-id="pd-edit-3" class="pd-edit-con pd-edit-frame" style="display: block;">

                                <div class="frame-container">
                                    <ul>
                                        <li>
                                            <button class="frame-item frameactive" data-frame="none" id="0"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/0_1.jpg)">
                                                <span>Çerçeve Yok</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="frame-item"
                                                data-frame="https://i.pinimg.com/originals/2e/8f/00/2e8f000a5e7c8c419420f181c1235609.png"
                                                id="1"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/1.jpg)">
                                                <span>Siyah</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="frame-item" id="2"
                                                data-frame="https://img.freepik.com/premium-photo/texture-very-old-brown-wood-full-frame-backdrop-designer_116441-10086.jpg"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/2.jpg)">
                                                <span>Beyaz</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="frame-item" id="9"
                                                data-frame="https://img.freepik.com/premium-photo/texture-very-old-brown-wood-full-frame-backdrop-designer_116441-10086.jpg"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/9.jpg)">
                                                <span>Antik Altın</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="frame-item" id="4"
                                                data-frame="https://img.freepik.com/premium-photo/texture-very-old-brown-wood-full-frame-backdrop-designer_116441-10086.jpg"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/4.jpg)">
                                                <span>Kahverengi</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="frame-item" id="5"
                                                data-frame="https://img.freepik.com/premium-photo/texture-very-old-brown-wood-full-frame-backdrop-designer_116441-10086.jpg"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/5.jpg)">
                                                <span>Gümüş</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="frame-item" id="6"
                                                data-frame="https://img.freepik.com/premium-photo/texture-very-old-brown-wood-full-frame-backdrop-designer_116441-10086.jpg"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/6.jpg)">
                                                <span>Meşe</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="frame-item" id="3"
                                                data-frame="https://img.freepik.com/premium-photo/texture-very-old-brown-wood-full-frame-backdrop-designer_116441-10086.jpg"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/3.jpg)">
                                                <span>Altın</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="frame-item" id="8"
                                                data-frame="https://img.freepik.com/premium-photo/texture-very-old-brown-wood-full-frame-backdrop-designer_116441-10086.jpg"
                                                style="background-image:url(https://www.tablohane.com/Content/Images/Design/8.jpg)">
                                                <span>Açık Kahverengi</span>
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="frame-info">Not: Çerçeve genişliği her yönde +3cm olmaktadır</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                            aria-labelledby="nav-profile-tab">
                            <div data-id="pd-edit-1" class="pd-edit-con" style="display: block;">
                                <div class="effect-container" data-value="BlackWhite-91|">
                                    <ul class="row">
                                        <li class="col-md-4 col-4">
                                            <button class="effect-item effectactive" data-value="0%"
                                                style="background-image: url(https://www.tablohane.com/Content/Images/EffectIcon/effect.jpg); left: 0%;">
                                                <span>Efekt Yok</span>
                                            </button>
                                        </li>
                                        <li class="col-md-4 col-4">
                                            <button id="BlackWhite" title="Siyah Beyaz" data-value="100%"
                                                class="effect-item" data-modalright="BlackWhite"
                                                style="background-image: url(https://www.tablohane.com/Content/Images/EffectIcon/effect2.jpg);">
                                                <span>Siyah Beyaz</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="basket-col">
                    <button type="button" class="basketadd py-2"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    <button class="like-btn" id="like">
                        <svg fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2.5,209.1C1,221.1,0,233.3,0,245.7c0,109,59.7,203.9,148.1,254.2l16.5-34.8V227.4l-18.3-18.3H2.5z M512,227.4 c0-18.3-18.3-36.6-36.6-36.6H329.1c9.1-36.6,18.3-73.1,18.3-91.4c0-36.6-18.3-73.1-27.4-82.3c-0.2-0.2-9.1-9.1-27.4-9.1 c-27.4,0-27.4,27.4-27.4,27.4c0,0.5-9.1,45.7-9.1,64s-36.6,91.4-54.9,109.7l-18.3,9.1v256l18.3,9.1h201.1 c36.6,0,54.9-18.3,54.9-36.6s-18.3-36.6-36.6-36.6c36.6,0,54.9-18.3,54.9-36.6c0-18.3-18.3-36.6-36.6-36.6 c36.6,0,54.9-18.3,54.9-36.6c0-18.3-18.3-36.6-36.6-36.6C493.7,264,512,245.7,512,227.4z"></path> </g></svg>
                    </button>
                </div>
             

            </div>
        </div>

    </div>
</div>



<div class="product-type-in w-100">
    <div class="container-fluid">
        <div class="pt-in-header">
            <div title="farklı ürün çeşitleri" class="title-h3">FARKLI ÜRÜN ÇEŞİTLERİ</div>
            <p class="pt-in-des">Atatürk - Egemenlik Kayıtsız Şartsız Milletindir görselini 6 farklı ürüne göre
                seçip,
                sipariş oluşturabilirsiniz</p>
        </div>
        <ul>
            <li>
                <a href="">
                    <img class="pt-in-img"
                        src="https://images.tablohane.com/photos/TH021139/9/650/0/650x580/100/5/ataturk-egemenlik-kayitsiz-sartsiz-milletindir.jpg"
                        data-imgloading="" style="visibility:visible;">
                    <div class="pt-in-icon"><span><img
                                src="https://www.tablohane.com/Content/Images/ProductType/5.png"></span></div>
                    <div class="pt-in-info">
                        <span class="product-color-5">Cam Tablo</span>
                        <p>Atatürk - Egemenlik Kayıtsız Şartsız Milletindir görselini <b>Cam Tablo</b> olarak
                            sipariş
                            verebilirisin</p>
                        <div class="pt-in-btn">Geç ⊳</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="pt-in-img"
                        src="https://images.tablohane.com/photos/TH021139/9/650/0/650x580/100/6/ataturk-egemenlik-kayitsiz-sartsiz-milletindir.jpg"
                        data-imgloading="" style="visibility:visible;">
                    <div class="pt-in-icon"><span><img
                                src="https://www.tablohane.com/Content/Images/ProductType/6.png"></span></div>
                    <div class="pt-in-info">
                        <span class="product-color-6">Mdf Tablo</span>
                        <p>Atatürk - Egemenlik Kayıtsız Şartsız Milletindir görselini <b>Mdf Tablo</b> olarak
                            sipariş
                            verebilirisin</p>
                        <div class="pt-in-btn">Geç ⊳</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="pt-in-img"
                        src="https://images.tablohane.com/photos/TH021139/9/650/0/650x580/100/7/ataturk-egemenlik-kayitsiz-sartsiz-milletindir.jpg"
                        data-imgloading="" style="visibility:visible;">
                    <div class="pt-in-icon"><span><img
                                src="https://www.tablohane.com/Content/Images/ProductType/7.png"></span></div>
                    <div class="pt-in-info">
                        <span class="product-color-7">Puzzle</span>
                        <p>Atatürk - Egemenlik Kayıtsız Şartsız Milletindir görselini <b>Puzzle</b> olarak sipariş
                            verebilirisin</p>
                        <div class="pt-in-btn">Geç ⊳</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="pt-in-img"
                        src="https://images.tablohane.com/photos/TH021139/9/650/0/650x580/100/10/ataturk-egemenlik-kayitsiz-sartsiz-milletindir.jpg"
                        data-imgloading="" style="visibility:visible;">
                    <div class="pt-in-icon"><span><img
                                src="https://www.tablohane.com/Content/Images/ProductType/10.png"></span></div>
                    <div class="pt-in-info">
                        <span class="product-color-10">Yapboz Resim</span>
                        <p>Atatürk - Egemenlik Kayıtsız Şartsız Milletindir görselini <b>Yapboz Resim</b> olarak
                            sipariş
                            verebilirisin</p>
                        <div class="pt-in-btn">Geç ⊳</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="pt-in-img"
                        src="https://images.tablohane.com/photos/TH021139/9/650/0/650x580/100/11/ataturk-egemenlik-kayitsiz-sartsiz-milletindir.jpg"
                        data-imgloading="" style="visibility:visible;">
                    <div class="pt-in-icon"><span><img
                                src="https://www.tablohane.com/Content/Images/ProductType/11.png"></span></div>
                    <div class="pt-in-info">
                        <span class="product-color-11">Taş Tablo</span>
                        <p>Atatürk - Egemenlik Kayıtsız Şartsız Milletindir görselini <b>Taş Tablo</b> olarak
                            sipariş
                            verebilirisin</p>
                        <div class="pt-in-btn">Geç ⊳</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="product-category-info w-100">
    <div class="container-fluid">
    <nav class="mt-3">
        <div class="nav nav-tabs mb-2 " id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first"
                type="button" role="tab" aria-controls="nav-first" aria-selected="true">Ürün kalitesi</button>
            <button class="nav-link" id="nav-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second"
                type="button" role="tab" aria-controls="nav-second" aria-selected="false">Yorum yap</button>
         
        </div>
    </nav>
    <div class="tab-content pb-5 " id="nav-tabContent">
        <div class="tab-pane fade active show" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
            <div class="container">
                <div class="cq-title">KANVAS TABLO NEDİR?</div>
                <div class="cq-item-title">
                    <div style="float: right;"><span style="width: 200px;"></span>
                        <div>KANVAS TABLO</div>
                    </div>
                </div>
                <div class="cq-item cq-item1">
                    <ul style="float: right;">
                        <li>
                            <p class="cq-p-title">3cm kenar kalınlığı</p>
                            <p>Kanvas tablolar 3cm kenar kalınlığına sahiptir.</p>
                        </li>
                        <li>
                            <p class="cq-p-title">%100 pamuk kanvas (tuval)</p>
                            <p>Yerli olarak üretilen 1.sınıf santsal kanvas üzerine baskı yapmaktayız. Renklerinde
                                bozulma veya kanvasında bollaşma yapmaz.</p>
                        </li>
                        <li>
                            <p class="cq-p-title">Ahşap Şase</p>
                            <p>Fırınlanmış masif ahşaplardan üretilmektedir. Zaman içerisinde eğilmez ve şekli
                                bozulmaz.</p>
                        </li>
                        <li>
                            <p class="cq-p-title">Epson Baskı</p>
                            <p>EPSON teknolojisi ile bilgisayar ekranında göründüğü gibi basılabilme. Sağlığa
                                zararlı olmayan Epson marka su bazlı mürekkep kullanılmakta.</p>
                        </li>
                        <li>
                            <p class="cq-p-title">Kenar baskısı</p>
                            <p>Orijinal resmin bütünlüğü bozulmadan dokusu devam etirilerek kenar payları verilir.
                            </p>
                        </li>
                        <li>
                            <p class="cq-p-title">Askı ve Çivi</p>
                            <p>Askısı ve çivisi tablonun üsütüne monte edilerek üretimi tamamlanır. Asmaya hazır
                                şekilde sevkiyatı yapılır.</p>
                        </li>
                    </ul>
                </div>
                <div class="cq-item-title">
                    <div style="float: left;">
                        <div>ÇERÇEVELİ TABLO</div><span style="width: 400px;"></span>
                    </div>
                </div>
                <div class="cq-item cq-item2 py-4">
                    <ul style="float: left;">
                        <li>
                            <p class="cq-p-title">3cm Çerçeve kalınlığı</p>
                            <p>Çerçeve ile tablo arasında 2cm boşluk bulunmaktadır bu durum tabloya fark
                                katmaktadır. Çerçeveler poliüretan'den üretlmiştir </p>
                        </li>
                        <li>
                            <p class="cq-p-title">Renk seçenekleri</p>
                            <p>Bir çok renk seçeneği ile tabloya ve ortama renk katabilme imkanı</p>
                        </li>
                    </ul>
                </div>
                <div class="cq-item-title">
                    <div style="float: right;"><span style="width: 400px;"></span>
                        <div>PAKETLEME</div>
                    </div>
                </div>
                <div class="cq-item cq-item3 py-5">
                    <ul style="float: right;">
                        <li>
                            <p class="cq-p-title">Dayanıklı mukavva</p>
                            <p>Üretim işleminden sonra kenarları zarar görmemesi için sarılır ve daha sonra kalın
                                mukavva ile darbelere karşı dayanıklı paketi yapılır.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
            <div title="farklı ürün çeşitleri" class="title-h2 mt-3">YORUM YAP</div>
            <form action="" class="py-3 w-100">

                <div class="row">
                    <input type="text" class="form-control w-100 py-3 my-3" placeholder="Isminiz">
                    <input type="email" class="form-control w-100 py-3 my-3" placeholder="E-posta adresiniz">
                    <textarea name="" placeholder="Yorumunuz"  class="form-control my-3 w-100" rows="5" id=""></textarea>
                    <button type="submit" class="comment-btn py-3 px-5">yorum yap</button>

                </div>
            </form>
        </div>
       

    </div>
</div>
</div>


  {% endblock %}


{% block js%}

<script src="https://bgrins.github.io/spectrum/spectrum.js"></script>
<script src="{% static 'js/product-detail.js' %}"></script>
{% endblock%}
