{% extends 'base.html' %}
{% load static %}
{% load i18n %}
  {% block desc %}<meta name="description" content="Keyfiyyətli və hər zövqə uyğun tablolara göz atın və zövqünüzə ən uyğununu almağa tələsin.">{% endblock %}

  {% block title %}<title>{% trans 'Məhsullar' %} | STOREGLASSTECH</title>{% endblock %}

  {% block style %}
   
  <link rel="stylesheet" href="{% static 'css/products.css' %}">

  {% endblock %}

  {% block content %}

  <div class="w-100 py-5">
    <div class="container-fluid">
    <div class="products-ad w-100">
        <h2>{% trans 'Öz dizaynını et!' %}</h2>
        <p class="mt-3">{% trans 'İndi <b>Storeglasstech</b> də istədiyin tablonu dizayın edib sifariş edə bilərsən.' %}</p>
        <a href="" class="products-ad-btn px-5 py-2">{% trans 'Hazırla' %}</a>

    
    </div>
    <div class="product-list-section mx-auto w-100 py-5 mt-5">
      <div class="shop-options w-100 mb-5">
        <ul class="row type-list w-100" style="margin-bottom: 0;">

          <li class="col-6 py-1" id="mdf" data-name="type" data-value="mdf" data-value="mdf">
              <img src="{% static 'images/mdf.png'%}" width="30" height="30"  alt="">
              <span>mdf</span>
          </li>
          <li class="col-6 py-1" id="glass"  data-name="type" data-value="glass" data-value="glass">
            <img src="{% static 'images/glassico.png'%}"  width="30" height="30" alt="">
            <span>glass</span>
          </li>
        </ul>
    </div>
      <div class="product-list-header w-100 d-flex align-items-center justify-content-between">

        <h3>{% trans 'Məhsullar' %}</h3>
        <div class="shop-filter d-flex align-items-center">
          <select class="filter1 py-2 px-5" name="" id="filterSelect">
            <option class="selected" selected value="" data-value="">{% trans 'Tarixə görə' %}</option>
            <option value="" data-value="lth">{% trans 'Ucuzdan bahaya' %}</option>
            <option value="" data-value="htl">{% trans 'Bahadan ucuza' %}</option>
          </select>
        </div>
      </div>
      <div class="product-list mx-auto w-100 row mt-5 pt-2 pb-5">
        <div class="col-md-3">
          <div class="product-categories w-100 d-flex flex-column">
            <h2 class="mb-3">{% trans 'Kateqoriyalar' %}</h2>
            <ul class="categories-list">
              <li><a href="" type="button" class="category selected" name="all" data-value="all" >{% trans 'Hamısı' %}</a></li>
              {% for category in categories %}
              <li><a href="" type="button" class="category" name="{{category}}" data-value="{{category.slug}}" >{{category.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
         
          <div class="filter-size w-100 flex-column py-5">
            <h2 class="mb-3">{% trans 'Rəssamlar' %}</h2>
            <ul>
              {% for artist in artists %}
              <li class="mb-2"><input class="checkbox-size checkbox-artist" type="checkbox" value="{{artist}}"><label for="">{{ artist }}</label></li>
              {% endfor %}
            </ul>
          </div>
       
        </div>
        <div class="col-md-9">
          <div class="w-100 row product-cards" id="products">
          
          

    
          </div>
          <div id="pagination" class="pt-5 pb-3"></div>

        </div>
      </div>
    </div>
</div>
  </div>

  {% endblock %}


{% block js%}
<script>
  transNoProduct = '{% trans "Təəssüf ki,seçdiyiniz filterlərə uyğun məhsul tapılmadı!" %}'
</script>
<script src="{% static 'js/product-list-api.js'%}"></script>

<script src="{% static 'js/product-list.js'%}"></script>
{% endblock%}
