{% extends 'base.html' %}
{% load static %}
{% load i18n %}


  {% block desc %}<meta name="description" content="Keyfiyyətli və hər zövqə uyğun tabloların adresi">{% endblock %}
  {% block title %}<title>{% trans 'Ana Səhifə' %} | STOREGLASSTECH</title>{% endblock %}


  {% block style %}<link rel="stylesheet" href="{% static 'css/home.css'%}">{% endblock%}

  {% block content %}
	
  <!--Main Section-->

  <div class="main-section mt-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 carousel-section">
          <div class="w-100">
            <div class="slider_carousel owl-carousel owl-theme">
              {% for item in slider %}
              <div class="item">
                <div class="slider-img">
                  <img
                    src="{{item.image.url}}"
                    alt="">
                </div>
                <div class="caption">
                  <h1 class="slider-title">{{item.header}}</h1>
                  <p class="slider-text">{{item.text}}</p>
                  <p class="slider-button"><a href="{{item.btn_href}}" class="text-white">{{item.btn_text}}</a></p>
                </div>
              </div>
              {% endfor %}

             

            </div>
          </div>
        </div>
        <div class="col-md-4 ads">
          <div class="w-100 ads-sec2">
            <div class="overlay"></div>
            <span>{% trans 'ŞÜŞƏ tablolar' %}</span>
            <h3>{% trans 'Şüşə dən hazılanmış tablolar' %}</h3>
            <p class="slider-button"><a href="{% url 'product:products' category_slug='all' %}?type=glass" class="text-white">{% trans 'İndi al' %} </a></p>
          </div>
          <div class="w-100 ads-sec1">
            <div class="overlay"></div>
            <span>{% trans 'MDF Tablolar' %}</span>
            <h3>{% trans 'MDF dən hazılanmış tablolar' %}</h3>
            <p class="slider-button"><a href="{% url 'product:products' category_slug='all' %}?type=mdf" class="text-white">{% trans 'İndi al' %} </a></p>
          </div>
          
        </div>
      </div>
    </div>
  </div>



  <!--Trending section-->
  {% if trend_products %}
  <div class="trending-section w-100 py-5">
    <div class="container-fluid">
      <div class="trending-header d-flex flex-column align-items-center">
        <h4>{% trans 'Ən çox satılan' %}</h4>
        <p style="text-align: center;">{% trans 'Bütün müştərilərimiz tərifindən bəyənilən ən seçilən tablolarımız' %}</p>
      </div>

      <div class="trending-products mt-5 row">
        {% for product in trend_products %}
        <div class="col-sm-6 col-lg-3 mb-4">
          <div class="product-item">
            <a href="product/{{product.get_absolute_url}}">
              <div class="product-item-img">
                {% if product.type == 'GLASS'%}
                <div class="frame-main" id="main-frame">
                 <div class="glass-overlay"><img src="{% static 'images/shadow11.png'%}" alt=""></div>
                   <img class="product-img main-frame-img" src="{{product.image.url}}" alt=""> 
                   </div>

                {%else%}
                <img class="product-img main-frame-img"  src="{{product.image.url}}" alt=""> 
                {%endif%}
              </div>
              </a>
              <div class="product-col-info p-2">
                
                <h3 class="product-item-title mt-2"><a href="product/{{product.get_absolute_url}}">{{product.title}}</a></h3>
                <div class="product-item-price-section">
                  <div class="product-item-price d-flex align-items-center justify-content-between">
                    {% if product.has_discount %}
                    <div class="stage">
                      <a  href="product/{{product.get_absolute_url}}">
                        {{product.discount_amount}}%
                      </a>
                    </div>
                    <div class="d-flex align-items-center">
                      <del>{{ product.price }} <i style="text-decoration: line-through;" class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></del>
                      <span>{{product.actual_price}} <i class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                    </div>
                    {% else %}
                    <div class="product-item-price d-flex align-items-center justify-content-end"> 
                      <span class="text-dark">{{product.actual_price}} <i class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                    </div>
                    {% endif %}
                   </div>
                </div>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}


  <!--Trending ads-->

  <div class="trend-ads-section w-100 py-5">

    <div class="container-fluid">
      <div class="trend-ads">
        <div class="ads1">
          <h6 class="ads-small-header">{% trans 'Ən çox çeşİdlİ kateqorİya bİrİncİ sırada' %}</h6>
          <h4 class="ad-header">{{top_categories | first | upper}} {% trans 'Kateqoriyası' %}</h4>
          <p class="mb-3">{% trans 'Kateqoriyanın bol çeşidə sahib olan tablolarına göz atın.' %}</p>
          <a href="products/{{top_categories.0.get_absolute_url}}" class="content-read-btn">{% trans 'Kateqoriyaya bax' %} <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="ads2">
          <h6 class="ads-small-header">{% trans 'Ən çox çeşİdlİ kateqorİya İkİncİ sırada' %}</h6>
          <h4 class="ad-header">{{ top_categories.1 | upper }} {% trans 'Kateqoriyası' %}</h4>
          <p class="mb-3">{% trans 'Kateqoriyanın bol çeşidə sahib olan tablolarına göz atın.' %}</p>
          <a href="products/{{top_categories.1.get_absolute_url}}" class="content-read-btn">{% trans 'Kateqoriyaya bax' %} <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>

  </div>

  <!--Hot Deals1-->

  <div class="my-5 hot-deals-section">
    <div class="container-fluid">
      <div class="hot-deals-container w-100">
        <div class="header-sec w-100 d-flex align-items-center justify-content-between">
          <h4 class="hot-deals-header">{% trans 'Ən yeni' %}</h4>
          <p>{% trans 'Şüşə tablolarımız' %}</p>
        </div>
        <div class="trending-products mt-5 row">
          {% for product in least_glass %}
          <div class="col-sm-6 col-lg-3 mb-4">
            <div class="product-item">
              <a href="product/{{product.get_absolute_url}}">
                <div class="product-item-img">
                 {% if product.type == 'GLASS'%}
                 <div class="frame-main" id="main-frame">
                  <div class="glass-overlay"><img src="{% static 'images/shadow11.png'%}" alt=""></div>
                    <img class="product-img main-frame-img" src="{{product.image.url}}" alt=""> 
                    </div>

                 {%else%}
                 <img class="product-img"  src="{{product.image.url}}" alt=""> 
                 {%endif%}
                </div>
                </a>
                <div class="product-col-info p-2">
                  
                  <h3 class="product-item-title mt-2"><a href="product/{{product.get_absolute_url}}">{{product.title}}</a></h3>
                  <div class="product-item-price-section">
                    <div class="product-item-price d-flex align-items-center justify-content-between">
                      {% if product.has_discount %}
                      <div class="stage">
                        <a  href="product/{{product.get_absolute_url}}">
                          {{product.discount_amount}}%
                        </a>
                      </div>
                      <div class="d-flex align-items-center">
                        <del>{{ product.price }} <i style="text-decoration: line-through;" class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></del>
                        <span>{{product.actual_price}} <i class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                      </div>
                      {% else %}
                      <div class="product-item-price d-flex align-items-center justify-content-end"> 
                        <span class="text-dark">{{product.actual_price}} <i class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                      </div>
                      {% endif %}
                     </div>
                  </div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!--Filter section-->

  <div class="filter-section w-100 py-5">
    <div class="container-fluid">
      <div class="w-100 filter-main">

        <div class="tab-buttons">
          <button class="tab-btn active" content-id="glass">
            {% trans 'Şüşə tablolar' %}
          </button>
          
          <button class="tab-btn" content-id="mdf">
            {% trans 'MDF tablolar' %}
          </button>

          <button class="tab-btn" content-id="watch">
            {% trans 'Saatlar' %}
          </button>

          <button class="tab-btn" content-id="self">
            {% trans 'Özün hazırla' %}
          </button>

      
        </div>

        <div class="tab-contents">
          <div class="content show" id="glass">
            <img class="content-img"
              src="{% static 'images/prod-glass.png'%}" alt="">
            <div class="content-half">
              <h4 class="content-header">{% trans 'Şüşə tablolar' %}</h4>
              <p class="content-text mb-4">{% trans '<a href="https://glasstech.az">Glasstech</a> tərəfindən istehsal olunan yüksək keyfiyyətli şüşələrimizdən hazırlanan göz oxşayan tablolarımız.' %}</p>
              <a href="{% url 'product:products' category_slug='all' %}?type=glass" class="content-read-btn">{% trans 'Tablolara bax' %} <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>

          <div class="content" id="mdf">
            <img class="content-img"
              src="{% static 'images/prod-mdf.png'%}" alt="">
            <div class="content-half">
              <h4 class="content-header">{% trans 'MDF tablolar' %}</h4>
              <p class="content-text mb-4">{% trans 'Yüksək MDF, qüsursuz kəsim və göz oxşayan tablolarımız.' %}</p>
              <a href="{% url 'product:products' category_slug='all' %}?type=glass" class="content-read-btn">{% trans 'Tablolara bax' %} <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>

          <div class="content" id="watch">
            <img class="content-img"
              src="{% static 'images/prod-clock.png'%}" alt="">
            <div class="content-half">
              <h4 class="content-header">{% trans 'Divar saatları' %}</h4>
              <p class="content-text mb-4">{% trans 'Dözümlu və estetik divar saatınızı hazırlayıb bir kliklə sifariş edə bilərsiniz.' %}</p>
              <a href="" class="content-read-btn">{% trans 'Hazırla' %} <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>

          <div class="content" id="self">
            <img class="content-img"
              src="{% static 'images/prod-custom.png'%}" alt="">
            <div class="content-half">
              <h4 class="content-header">{% trans 'Özün hazırla' %}</h4>
              <p class="content-text mb-4">{% trans 'İstədiyiniz ölçü və materialda tablo hazırlayıb bir kliklə sifariş edə bilərsiniz' %}</p>
              <a href="" class="content-read-btn">{% trans 'Hazırla' %} <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>

         

        </div>
      </div>
    </div>
  </div>



  <!--Hot Deals2-->

  <div class="my-5 hot-deals-section">
    <div class="container-fluid">
      <div class="hot-deals-container w-100">
        <div class="header-sec w-100 d-flex align-items-center justify-content-between">
          <h4 class="hot-deals-header">{% trans 'Ən yeni' %}</h4>
          <p>{% trans 'MDF tablolarımız' %}</p>
        </div>
        <div class="trending-products mt-5 row">
          {% for product in least_mdf %}
          <div class="col-sm-6 col-lg-3 mb-4">
            <div class="product-item">
              <a href="product/{{product.get_absolute_url}}">
                <div class="product-item-img">
                  {% if product.type == 'GLASS'%}
                 <div class="frame-main" id="main-frame">
                  <div class="glass-overlay"><img src="{% static 'images/shadow11.png'%}" alt=""></div>
                    <img class="product-img main-frame-img" src="{{product.image.url}}" alt=""> 
                    </div>

                 {%else%}
                 <img class="product-img"  src="{{product.image.url}}" alt=""> 
                 {%endif%}
                </div>
                </a>
                <div class="product-col-info p-2">
                  
                  <h3 class="product-item-title mt-2"><a href="product/{{product.get_absolute_url}}">{{product.title}}</a></h3>
                  <div class="product-item-price-section">
                    <div class="product-item-price d-flex align-items-center justify-content-between">
                      {% if product.has_discount %}
                      <div class="stage">
                        <a  href="product/{{product.get_absolute_url}}">
                          {{product.discount_amount}}%
                        </a>
                      </div>
                      <div class="d-flex align-items-center">
                        <del>{{ product.price }} <i style="text-decoration: line-through;" class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></del>
                        <span>{{product.actual_price}} <i class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                      </div>
                      {% else %}
                      <div class="product-item-price d-flex align-items-center justify-content-end"> 
                        <span class="text-dark">{{product.actual_price}} <i class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                      </div>
                      {% endif %}
                     </div>
                  </div>
                </div>
            </div>
          </div>
          {% endfor %}
          

        </div>
      </div>
    </div>
  </div>

  <!--Best Seller-->
  {% if discounted_products %}
  <div class="best-seller-section w-100 py-5">
    <div class="container-fluid">
      <div class="w-100 best-seller-container">
        <div class="best-seller-ads">
          <p class="ads-small-text">{% trans 'Endirimli Məhsullar' %}</p>
          <h4 class="ads-header">{{max_discount}}% {% trans 'dək endİrİmlər' %}</h4>
          <p class="ads-text">
            {% trans 'Seçiminizi indi edin, endirmləri qaçırmayın!' %}
          </p>
          <a href="{% url 'product:products' category_slug='all' %}?type=glass" class="ads-button">{% trans 'Bütün məhsullar' %}</a>
        </div>
        <div class="best-seller-items row">
          {% for product in discounted_products %}
          <div class="col-sm-6 col-lg-4 col-xl-3 mb-4">
            <div class="product-item">
              <a href="product/{{product.get_absolute_url}}">
                <div class="product-item-img">
                  {% if product.type == 'GLASS'%}
                 <div class="frame-main" id="main-frame">
                  <div class="glass-overlay"><img src="{% static 'images/shadow11.png'%}" alt=""></div>
                    <img class="product-img main-frame-img" src="{{product.image.url}}" alt=""> 
                    </div>

                 {%else%}
                 <img class="product-img"  src="{{product.image.url}}" alt=""> 
                 {%endif%}
                </div>
                </a>
                <div class="product-col-info p-2">
                  
                  <h3 class="product-item-title mt-2"><a href="product/{{product.get_absolute_url}}">{{product.title}}</a></h3>
                  <div class="product-item-price-section">
                    <div class="product-item-price d-flex align-items-center justify-content-between">
                      {% if product.has_discount %}
                      <div class="stage">
                        <a  href="product/{{product.get_absolute_url}}">
                          {{product.discount_amount}}%
                        </a>
                      </div>
                      <div class="d-flex align-items-center">
                        <del>{{ product.price }} <i style="text-decoration: line-through;" class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></del>
                        <span>{{product.actual_price}} <i class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                      </div>
                      {% else %}
                      <div class="product-item-price d-flex align-items-center justify-content-end"> 
                        <span class="text-dark">{{product.actual_price}} <i class="font-weight-bold fas fa-xs fa-solid fa-manat-sign"></i></span>
                      </div>
                      {% endif %}
                     </div>
                  </div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}




  <!--Comments Slider-->

  <!-- <div class="comments-slider-section w-100 py-5">
    <div class="container-fluid">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img class="comment-user"
              src="https://demo.themerox.com/posterlaab-3/wp-content/uploads/2023/06/fishinggear-testimonial-1.png"
              alt="">
            <div class="rating-stars mt-4">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p class="comment-text mt-4">
              Was much cheaper than other well known Mail order tackle shops, and will be my go-to online tackle shop
              from now on.
            </p>
            <p class="comment-user-name mt-3">Alex Parker</p>
            <p class="comment-user-status">Operation Director, Google</p>
          </div>


          <div class="swiper-slide">
            <img class="comment-user"
              src="https://demo.themerox.com/posterlaab-3/wp-content/uploads/2023/06/fishinggear-testimonial-1.png"
              alt="">
            <div class="rating-stars mt-4">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p class="comment-text mt-4">
              Was much cheaper than other well known Mail order tackle shops, and will be my go-to online tackle shop
              from now on.
            </p>
            <p class="comment-user-name mt-3">Alex Parker</p>
            <p class="comment-user-status">Operation Director, Google</p>
          </div>


          <div class="swiper-slide">
            <img class="comment-user"
              src="https://demo.themerox.com/posterlaab-3/wp-content/uploads/2023/06/fishinggear-testimonial-1.png"
              alt="">
            <div class="rating-stars mt-4">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p class="comment-text mt-4">
              Was much cheaper than other well known Mail order tackle shops, and will be my go-to online tackle shop
              from now on.
            </p>
            <p class="comment-user-name mt-3">Alex Parker</p>
            <p class="comment-user-status">Operation Director, Google</p>
          </div>


          <div class="swiper-slide">
            <img class="comment-user"
              src="https://demo.themerox.com/posterlaab-3/wp-content/uploads/2023/06/fishinggear-testimonial-1.png"
              alt="">
            <div class="rating-stars mt-4">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p class="comment-text mt-4">
              Was much cheaper than other well known Mail order tackle shops, and will be my go-to online tackle shop
              from now on.
            </p>
            <p class="comment-user-name mt-3">Alex Parker</p>
            <p class="comment-user-status">Operation Director, Google</p>
          </div>



        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div> -->


  <!--Subscribe Section-->

  <!-- <div class="subscribe-section w-100 py-5">
    <div class="container-fluid">
      <div class="subscribe-container">
        <div class="subscribe-overlay"></div>
        <div class="subscribe-header d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
            <path d="M34 41H14C8 41 4 38 4 31V17C4 10 8 7 14 7H34C40 7 44 10 44 17V31C44 38 40 41 34 41Z"
              stroke="#1D2CCA" stroke-width="2.02941" stroke-miterlimit="10" stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path d="M34 18L27.74 23C25.68 24.64 22.3 24.64 20.24 23L14 18" stroke="#1D2CCA" stroke-width="2.02941"
              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <div class="d-flex flex-column subs-header2" style="margin-left: 15px;">
            <p class="m-0">Join our newsletter for $10 offers</p>
            <h5 class="m-0 p-0">Get our emails for info on new items</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row mt-4">
              <div class="col-md-8 subs-input">
                <input type="text" class="subscribe-input" placeholder="Enter your email address">
              </div>
              <div class="col-md-4 subs-btn">
                <input type="submit" class="subscribe-button" value="Subscribe">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <!--Blogs Section-->

  <!-- <div class="blogs-section w-100 py-5">
    <div class="container-fluid">
      <h4>Latest Blogs</h4>
      <div class="blogs-container mt-4">
        <div class="row">
          <div class="col-md-6 col-12 col-sm-6 col-lg-3 mb-4">
            <a href="" class="w-100 blog-item mb-4">
              <img class="blog-img"
                src="https://demo.themerox.com/posterlaab-3/wp-content/uploads/2023/03/posterlaab-blog-GWD-scaled.jpg"
                alt="">
              <div class="blog-card-content">
                <div class="meta">
                  <span class="comment-count">
                    1 Comment </span>
                  <span class="post-category">
                    <span href="" title="Template">
                      Template </span>
                  </span>
                </div>
                <h6 class="blog-item-header">
                  The Controller of your personal data
                </h6>
                <p class="blog-item-text">
                  Your personal data will be processed in order to provide
                </p>
                <span class="blog-read-btn">Read More</span>
              </div>

            </a>
          </div>


          <div class="col-md-6 col-12 col-sm-6 col-lg-3 mb-4">
            <a href="" class="w-100 blog-item mb-4">
              <img class="blog-img"
                src="https://demo.themerox.com/posterlaab-3/wp-content/uploads/2023/03/posterlaab-blog-GWD-scaled.jpg"
                alt="">
              <div class="blog-card-content">
                <div class="meta">
                  <span class="comment-count">
                    1 Comment </span>
                  <span class="post-category">
                    <span href="" title="Template">
                      Template </span>
                  </span>
                </div>
                <h6 class="blog-item-header">
                  The Controller of your personal data
                </h6>
                <p class="blog-item-text">
                  Your personal data will be processed in order to provide
                </p>
                <span class="blog-read-btn">Read More</span>
              </div>

            </a>
          </div>

          <div class="col-md-6 col-12 col-sm-6 col-lg-3 mb-4">
            <a href="" class="w-100 blog-item mb-4">
              <img class="blog-img"
                src="https://demo.themerox.com/posterlaab-3/wp-content/uploads/2023/03/posterlaab-blog-GWD-scaled.jpg"
                alt="">
              <div class="blog-card-content">
                <div class="meta">
                  <span class="comment-count">
                    1 Comment </span>
                  <span class="post-category">
                    <span href="" title="Template">
                      Template </span>
                  </span>
                </div>
                <h6 class="blog-item-header">
                  The Controller of your personal data
                </h6>
                <p class="blog-item-text">
                  Your personal data will be processed in order to provide
                </p>
                <span class="blog-read-btn">Read More</span>
              </div>

            </a>
          </div>

          <div class="col-md-6 col-12 col-sm-6 col-lg-3 mb-4">
            <a href="" class="w-100 blog-item mb-4">
              <img class="blog-img"
                src="https://demo.themerox.com/posterlaab-3/wp-content/uploads/2023/03/posterlaab-blog-GWD-scaled.jpg"
                alt="">
              <div class="blog-card-content">
                <div class="meta">
                  <span class="comment-count">
                    1 Comment </span>
                  <span class="post-category">
                    <span href="" title="Template">
                      Template </span>
                  </span>
                </div>
                <h6 class="blog-item-header">
                  The Controller of your personal data
                </h6>
                <p class="blog-item-text">
                  Your personal data will be processed in order to provide
                </p>
                <span class="blog-read-btn">Read More</span>
              </div>

            </a>
          </div>
        </div>
      </div>
    </div>

  </div> -->



  {% endblock %}

  
  {%block js%}
  <script src="{% static 'js/home.js'%}"></script>
  {%endblock%}